/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) Uniform design of standard content elements
 * (de) Einheitliche Standardformatierungen für die wichtigten Inhalts-Elemente
 *
 * @copyright       Copyright 2005-2010, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.2.1
 * @revision        $Revision:392 $
 * @lastmodified    $Date:2009-07-05 12:18:40 +0200 (So, 05. Jul 2009) $
 * @appdef yaml
 */

@media all
{
 /**
  * Fonts
  *
  * (en) global settings of font-families and font-sizes
  * (de) Globale Einstellungen für Zeichensatz und Schriftgrößen
  *
  * @section content-global-settings
  */

  /* (en) reset font size for all elements to standard (16 Pixel) */
  /* (de) Alle Schriftgrößen auf Standardgröße (16 Pixel) zurücksetzen */
  html * { font-size:100.01%; }

 /**
  * (en) reset monospaced elements to font size 16px in all browsers
  * (de) Schriftgröße von monospaced Elemente in allen Browsern auf 16 Pixel setzen
  *
  * @see: http://webkit.org/blog/67/strange-medium/
  */

  textarea, pre, code, kbd, samp, var, tt {
    font-family:Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
  }

  /* (en) base layout gets standard font size 12px */
  /* (de) Basis-Layout erhält Standardschriftgröße von 12 Pixeln */
  body {
    font-family:Arial, Helvetica, sans-serif;
    font-size:75.00%;
    color:#444;
  }

  /*--- Headings | Überschriften ------------------------------------------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
  /* font-family:"Times New Roman", Times, serif; */
    font-weight:normal;
    color:#222;
    margin:0 0 0.25em 0;
  }

  h1 { font-size:200%; }                       
  h2 { font-size:180%; }                       
  h3 { font-size:150%; }                       
  h4 { font-size:133.33%; }                    
  h5 { font-size:126.67%; }                    
  h6 { font-size:116.67%; }                    

  /* --- Lists | Listen  -------------------------------------------------------------------------------- */

  ul, ol, dl { line-height:1.5em; margin:0 0 1em 1em; }
  ul { list-style-type:disc; }
  ul ul { list-style-type:circle; margin-bottom:0; }

  ol { list-style-type:decimal; }
  ol ol { list-style-type:lower-latin; margin-bottom:0; }

  li { margin-left:0.8em; line-height:1.5em; }

  dt { font-weight:bold; }
  dd { margin:0 0 1em 0.8em; }

  /* --- general text formatting | Allgemeine Textauszeichnung ------------------------------------------ */

  p { line-height:1.5em; margin:0 0 1em 0; }

  blockquote, cite, q {
    font-family:Georgia, "Times New Roman", Times, serif;
    font-style:italic;
  }
  blockquote { margin:0 0 1em 1.6em; color:#666; }

  strong,b { font-weight:bold; }
  em,i { font-style:italic; }

  big { font-size:116.667%; }
  small { font-size:91.667%; }
 
  pre { line-height:1.5em; margin:0 0 1em 0; }
  pre, code, kbd, tt, samp, var { font-size:100%; }
  pre, code { color:#800; }
  kbd, samp, var, tt { color:#666; font-weight:bold; }
  var, dfn { font-style:italic; }

  acronym, abbr {
    border-bottom:1px #aaa dotted;
    font-variant:small-caps;
    letter-spacing:.07em;
    cursor:help;
  }

  sub, sup { font-size:91.6667%; line-height:0; }

  hr {
    color:#fff;
    background:transparent;
    margin:0 0 0.5em 0;
    padding:0 0 0.5em 0;
    border:0;
    border-bottom:1px #eee solid;
  }

  /*--- Links ----------------------------------------------------------------------------------------- */

  a { color:#4D87C7; background:transparent; text-decoration:none; }
  a:visited  { color:#036; }

  /* (en) maximum constrast for tab focus - change with great care */
  /* (en) Maximaler Kontrast für Tab Focus - Ändern Sie diese Regel mit Bedacht */
  a:focus { text-decoration:underline; color:#000; background: #fff; outline: 3px #f93 solid; }
  a:hover,
  a:active { color:#182E7A; text-decoration:underline; outline: 0 none; }

  /* --- images (with optional captions) | Bilder (mit optionaler Bildunterschrift) ------------------ */

  p.icaption_left { float:left; display:inline; margin:0 1em 0.15em 0; }
  p.icaption_right { float:right; display:inline; margin:0 0 0.15em 1em; }

  p.icaption_left img,
  p.icaption_right img { padding:0; border:1px #888 solid; }

  p.icaption_left strong,
  p.icaption_right strong { display:block; overflow:hidden; margin-top:2px; padding:0.3em 0.5em; background:#eee; font-weight:normal; font-size:91.667%; }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Generic Content Classes
  *
  * (en) standard classes for positioning and highlighting
  * (de) Standardklassen zur Positionierung und Hervorhebung
  *
  * @section content-generic-classes
  */

  .highlight { color:#c30; }
  .dimmed { color:#888; }

  .info { display:block; background:#fef3f4; color:#444; padding:10px; margin-bottom:1.5em; border: 1px #ee1d23 dotted;}
  .success { display:block; background:#efe; color:#040; border-top:1px #484 solid; border-bottom:1px #484 solid; padding:10px; margin-bottom:1.5em; }
  .warning { display:block; background:#fee; color:#400; border-top:1px red solid; border-bottom:1px red solid; padding:10px; margin-bottom:1.5em; }
  .error { display:block; background:#fee; color:#400; border-top:1px red solid; border-bottom:1px red solid; padding:10px; margin-bottom:1.5em; }

  .float_left { float:left; display:inline; margin-right:1em; margin-bottom:0.15em; }
  .float_right { float:right; display:inline; margin-left:1em; margin-bottom:0.15em; }
  .center { display:block; text-align:center; margin:0.5em auto; }

 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Tables | Tabellen
  *
  * (en) Generic classes for table-width and design definition
  * (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
  *
  * @section content-tables
  */


  table { width:auto; border-collapse:collapse; margin-bottom:0.5em; border: 1px #CCC solid; }
  table caption { font-variant:small-caps; }
  table.full { width:100%; }
  table.fixed { table-layout:fixed; }

  th,td { padding:0.5em; }
  thead th { background:#E8E8E8; color:#000;  border-bottom:1px #CCC solid;}
  tbody th { background:#F3F3F3; color: #333; }
  tbody th[scope="row"], tbody th.sub { background:#f0f0f0; }

  tbody th { border-bottom:1px solid #CCC; text-align:left; }
  tbody td { border-bottom:1px solid #CCC; }

 /**
  tbody tr:hover th[scope="row"],
  tbody tr:hover tbody th.sub { background:#f0e8e8; }
  tbody tr:hover td { background:#fff8f8; }
  **/
  
  
  
  

  table.customer { border:0; border-top: 1px solid #EE1D23; border-bottom: 1px solid #EE1D23;}
  table.customer tbody th,
  table.customer tbody td {border: 0; font-weight:normal; color: #666;}
  table.customer tbody th.header {background:#fde8e9; color: #555; border-top: 1px solid #EE1D23; border-bottom: 1px solid #EE1D23; font-weight:bold;}
  
  table.menu {border: 0; border-bottom: 1px solid #EE1D23;}
  table.menu thead th { background:#EE1D23; border:0; color: #F8F8F8; font-weight:600;}
  table.menu tbody td { border: 0; vertical-align: top;} 
  table.menu tbody th { background: #fef3f4; color: #EE1D23; border:0; border-top: 1px solid #EE1D23; border-bottom: 1px solid #EE1D23;}
  table.menu tbody th, table.menu tbody td  {width:20%;}
  table.menu tbody td.checkbox {text-align:center; padding:2px 1px;}


 

 /**
  * Widths
  */
  .w5  {width:5%}
  .w10 {width:10%}
  .w15 {width:15%}
  .w20 {width:20%}
  .w30 {width:30%}
  .w40 {width:40%}
  .w50 {width:50%}
  .w60 {width:60%}
  .w70 {width:70%}
  .w80 {width:80%}
  .w85 {width:85%}
  .w90 {width:90%}
  .w95 {width:95%}




 /**
  * ------------------------------------------------------------------------------------------------- #
  *
  * Miscellaneous | Sonstiges
  *
  * @section content-misc
  */

 /**
  * (en) Emphasizing external Hyperlinks via CSS
  * (de) Hervorhebung externer Hyperlinks mit CSS
  *
  * @section             content-external-links
  * @app-yaml-default    disabled
  */

  /*
  #main a[href^="http://www.my-domain.com"],
  #main a[href^="https://www.my-domain.com"]
  {
    padding-left:12px;
    background-image:url('your_image.gif');
    background-repeat:no-repeat;
    background-position:0 0.45em;
  }
  */
  h1  {color:#ee1d23;}
  h1.slogan {font-size:250%}
  
  .nopadding {padding:0}
  
  .header_undertitle {color: #FFF;}
  
  .header_text {color: #EEE;}
  .header_text a, .footer_text a:visited, .footer_text a:hover {color: #EEE}
  
  .footer_text {color: #EEE; font-size: 98%;}
  .footer_text a, .footer_text a:visited, .footer_text a:hover {color: #EEE;}
  
  
  
  .header_login_container {display:block;}
  .header_login_container table {border:0}
  .header_login_container table tr{vertical-align:top; border:0}
  .header_login_container table tr td{padding:0 0 0 14px; border:0;}
  .header_login_container .tf {padding-bottom:4px}
  .header_login_container .inputtext,
  .header_login_container .inputpassword{margin:0;border:0;width:142px}
  .header_login_container .login_form_label_field label,
  .header_login_container .login_form_label_field a{color:#DDD;font-weight:normal}
  .header_login_container .login_form_label_field{padding-top:4px}
  .header_login_container .tf label{color:#fff;font-weight:normal;padding-left:1px}
  .header_login_container #email{direction:ltr}
  
  .box_header {margin-left: 20px; background: #ee1d23; color: #FFF; padding: 5px 10px; font-weight:bold; }
  .box_body {margin-left: 20px; border: 1px #ee1d23 solid; padding: 10px; }
  
  .create_link { padding:3px 5px; background:#fde8e9; border:1px solid #EE1D23 }
  a:hover.create_link {text-decoration:none; background:#fcd2d3;}

  .menu_header {margin:0 0 0.25em 0;}
  .menu_header .childname {font-size:126.67%; color:#222;}

  div.menu_checkbox {color:white; padding:0.5em 0 0.4em 0;}
  div.menu_checkbox_text {padding-top:0.2em;}
  div.menu_checkbox_active {background:#90EE90;}

  .menu_subtext {line-height: 1.5em;}
  .menu_additives {font-size:86.667%; line-height: 1.3em;}
  .menu_footer {font-size:86.667%; line-height: 1.3em;}
  
}
