{% load i18n %}

<div class="mealplan-actions" class="form-group">
  <form action="" method="POST" class="clearfix">
    {% csrf_token %}
    {% if has_preparation %}
    <input type="hidden" name="release" id="id_release" value="" />
    <input type="hidden" name="year" id="id_year" value="{{ year }}" />
    <input type="hidden" name="week" id="id_week" value="{{ week_num }}" />
    <input type="hidden" name="mealplans" id="id_mealplans" value="" />
    <button type="button" name="release-btn" value="1" class="btn btn-xs btn-primary pull-left">
      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>{% trans "Speisepläne freigeben" %}
    </button>
    {% endif %}
    <div class="advanced-action export-pdf pull-right">
      <button class="btn btn-xs action" type="submit" name="download-pdf" value="1">
        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>{% trans "Als PDF herunterladen" %}
      </button>
      {% if pricegroups %}
      <div class="action-extras">
        <select name="pricegroup" id="pdf-pricegroup">
          {% for pricegroup in pricegroups %}
          <option value="{{ pricegroup.0 }}">{{ pricegroup.1 }}</option>
          {% endfor %}
          <option value="">Ohne Preise</option>
        </select>
      </div>
      {% endif %}
    </div>
    <button class="btn btn-xs pull-right" type="submit" name="add-default" value="1">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>{% trans "Standard Menüs importieren" %}
    </button>
  </form>
</div>
