<div id="mealModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Fenster Titel</h4>
            </div>
            <div class="modal-body">
                <form id="menuForm" action="" class="">
                    <input type="hidden" id="inputMenuId" name="menu_id" value=""/>
                    <input type="hidden" id="inputMealId" data-mealtimeid="" name="meal_id" value=""/>
                    <input type="hidden" id="inputMenuDate" name="menu_date" value=""/>
                    <input type="hidden" id="inputMenuPreparation" name="is_preparation" value=""/>
                    <input type="hidden" id="inputMealPlan" name="mealplan_id" value="{{ selected_mealplan.id }}"/>
                    {% csrf_token %}
                    <div id="read-only-message" class="text-danger form-group">
                        Achtung, dieses Menü liegt in der Vergangenheit!
                    </div>
                    <div class="form-group">
                        <label for="inputImportMeal">Import</label>
                        <input type="text" class="form-control" id="inputImportMeal">
                    </div>

                    <div class="form-group">
                        <label for="textareaDescription">Beschreibung</label>
                        <textarea name="description" id="textareaDescription" class="form-control" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input id="checkboxCanBeOrdered" name="can_be_ordered" type="checkbox" value="1" checked> bestellbar
                            </label>
                        </div>
                    </div>

                    <div class="prices-wrapper">
                        <label for="">Preise</label>
                        <div id="divVariablePrices" class="no-sub-labels row"></div>
                        <div id="divFixedPrices" class="no-sub-labels row"></div>
                    </div>

                    {% comment %}
                    <div class="form-group" id="disabled-field-wrapper">
                        <div class="checkbox">
                            <label>
                                <input id="checkboxDisabled" name="disabled" type="checkbox" value="1" checked> deaktiviert (unsichtbar für Kunden, kann nicht bestellt werden)
                            </label>
                        </div>
                    </div>
                    {% endcomment %}

                    <div class="form-group" id="allergies">
                        <label>Allergene</label>

                        <div class="row">
                            {% for allergen_set in allergens %}
                            <div class="col-md-4">
                                {% for allergen in allergen_set %}
                                    <div class="checkbox">
                                        <label>
                                            <input id="al{{ allergen.id }}" name="allergens" type="checkbox" value="{{ allergen.id }}"> {{ allergen.name_short }} - {{ allergen.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-group" id="additionals">
                        <label>Zusatzstoffe</label>
                        <div class="row">
                            {% for additional_set in additionals %}
                            <div class="col-md-4">
                                {% for additional in additional_set %}
                                    <div class="checkbox">
                                        <label>
                                            <input id="ad{{ additional.id }}" name="additionals" type="checkbox" value="{{ additional.id }}"> {{ additional.name_short }} - {{ additional.name }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% comment %}
                    <div class="form-group" id="required-menu">
                        <label>Erforderlich Menü</label>
                        <select class="form-control" name="required_menu">
                            <option value="" class="visible"></option>
                            {% for day in week_days %}
                            {% get_day_menus day selected_mealplan as day_menus %}
                            {% for menu in day_menus %}
                            <option value="{{ menu.pk }}" data-date="{{ day.day }}-{{ day.month }}-{{ day.year }}">{{ menu.description }}</option>
                            {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    {% endcomment %}

                    <div class="form-group">
                        <label id="aCollapseOrderCancel">Bestellfristen</label>
                        <div id="divOrderCancelTimeLimit" class="no-sub-labels">
                          <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group dtp">
                                    <label for="inputOrderTimeLimit">Bestellbar bis</label>
                                    <input name="order_timelimit" id="inputOrderTimeLimit" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group dtp">
                                    <label for="inputCancelTimeLimit">Abbestellbar bis</label>
                                    <input name="cancel_timelimit" id="inputCancelTimeLimit" class="form-control" />
                                </div>
                            </div>
                          </div>  
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="buttonDeleteMenu" type="button" class="btn btn-danger pull-left">Löschen</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button id="buttonResetMenu" type="button" class="btn btn-default">Zurücksetzen</button>
                <button id="buttonMealSave" type="button" class="btn btn-primary">Speichern</button>
            </div>

        </div>
    </div>
</div>
