{% load i18n %}
{% if queue_disabled %}
    {% trans "Folgende Speisepläne wurden freigegeben:" %}
{% else %}
    {% trans "Folgende Speisepläne wurden freigegeben:" %}
{% endif %}

<div class="released-items">
    <strong>{% trans "Speisepläne:" %}</strong>
    <ul>
        {% for mealplan in mealplans %}
        <li>{{ mealplan }}</li>
        {% endfor %}
    </ul>
</div>
