<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>Demo GmbH</span><br />
            <span>Name</span>
        </div>

        <span>Musterstraße 1</span><br/>
        <span>12345 Musterstadt</span><br/>
        <span>Telefon: </span><br/>
        <span>E-Mail: </span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
