<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>
{%block title%}	
{%endblock%}
</title>
<style type="text/css">
{% block style %}
	@page {
		size: A4;

        @frame body {
            margin: 1.5cm 2cm;
        }

		@frame footer {
		    -pdf-frame-content: footerContent;
		    top: 28.5cm;
            margin: 0 2cm;
		  }

	}
	

	
	body {font-size: 12px;}

    table.sum_table {border: 1px solid #000000; padding: 3pt; vertical-align: middle; text-align: left;}
    table.list_table {border: 1px solid #000000; padding: 3pt; vertical-align: middle; text-align: left;}


	.nowrap {white-space:nowrap;}

	.header  {font-size:16px; font-weight:bold;}

	.small {font-size:9px;}
	
	.strong {font-weight:bold;}
	
	.center {text-align: center;}
	.right {text-align: right;}

    .top {vertical-align: top;}
    .middle {vertical-align: middle;}
	
	.bt1 {border-color: #000; border-top-width: 1px; border-top-style: solid;}
	.bb1 {border-color: #000; border-bottom-width: 1px; border-bottom-style: solid;}
	.bb2 {border-color: #000; border-bottom-width: 2px; border-bottom-style: solid;}
	
	.pt1 {padding-top:1mm}
	.pr1 {padding-right:1mm}	

{%endblock%}	
</style>
</head>
<body>

    <p class="header">Metzgerei Bestellliste, {{ list_date|date:'d.m.Y' }}</p>

    {% autoescape off %}
        {{ list_content_html }}
    {% endautoescape %}


	<div id="footerContent" class="small">

        <table>
            <tr>
                <td>Gedruckt am: {{ print_time|date:'d.m.Y' }}, {{ print_time|time:'H:i' }} Uhr</td>
                <td class="right">Seite <pdf:pagenumber /> / <pdf:pagecount /> </td>
        </table>

	</div>

</body>
</html>