{% load report_tags %}
<h2>{{ facility.name }}</h2>
{% with stepwidth=mealtimes|length %}
    {% for subunit in subunit_list %}
    <div><strong>{{ facility.name }} - {{ subunit.subunit.name }}</strong></div>
    {% if dates_list %}
    <table >
        <tbody>
            <tr>
                <td class="w5"><strong>Name</strong></td>
                {% for day in dates_list %}
                <td class="w1 center" colspan="{{mealtimes|length}}">
                    <strong>{{day|date:"D, d.m."}}</strong>
                </td>
                {% endfor %}
                <td class="w5"><strong>Allergene</strong></td>
            </tr>
            <tr>
                <td class="w5"></td>
                {% for day in dates_list %}
                    {% for mealtime in mealtimes %}
                    <td class="w1 center">
                        {{ mealtime.name_short }}
                    </td>
                    {% endfor %}
                {% endfor %}
                <td class="w5"></td>
            </tr>
            {% for child in subunit.child_list %}
            <tr>
                <td class="w5">{{ child.name }}</td>
                {% for order in child.orders %}
                <td class="w1 center">{% if order %}1{% endif%}</td>
                {% endfor %}
                <td class="w5">
                    {% if child.suspended %}GESPERRT {% endif %}
                    {{ child.allergen }}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td class="w5"></td>
                {% for subtotal in subunit.subtotal %}
                <td class="w1 center"><strong>{{ subtotal }}</strong></td>
                {% endfor %}
                <td class="w5"></td>
            </tr>
            {% if forloop.last %}
            <tr>
                <td class="w5"><strong>Gesamt:</strong></td>
                {% for value in facility_total %}
                <td class="w1 center"><strong>{{ value }}</strong></td>
                {% endfor %}
                <td class="w5"></td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    {% endif %}
    {% if not forloop.last %}
        {% insert_page_break %}
    {% endif %}
    {% endfor %}
{% endwith %}
