{% load fieldtags %}
{% load report_tags %}

{% if is_kindergarten %}
    
    {% for subunit in subunit_list %}



        <h1 style="-pdf-keep-with-next:1">{{facility.name}}, {{date|date:"d.m.Y"}}, {{subunit.subunit.name}}</h1>

        <font size="15">

        <table>
                    <tbody>
                        <tr>
                        <td class="border"><strong>Name</strong></td>
                        {% for mealtime in mealtimes %}
                            <td class="w1 center"><strong>{{mealtime.name_short}}</strong></td>
                        {% endfor %}
                        <td class="w20"><strong>Allergene</strong></td>
                        </tr>
                            <tr><td colspan="{{mealtimes|length|add:'2'}}"><strong>{{subunit.subunit.name}}</strong></td></tr>
                            {% for child in subunit.child_list %}
                                <tr>
                                    <td class="w20">{{child.child}}</td>
                                    {% for order in child.orders %}
                                        <td class="w10 center">{% if order %}1{% endif%}</td>
                                    {% endfor %}
                                    <td class="w15">
                                    {% for allergen in child.child.allergen.all %}
                                            {% if forloop.last %}
                                                {{allergen.name}}
                                            {% else %}
                                                {{allergen.name}},
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td></td>
                                {% for mealtime in mealtimes %}
                                    <td class="w10 center"><strong>{{subunit.subtotal|keyvalue:mealtime.id}}</strong></td>
                                {% endfor %}
                                <td></td>
                            </tr>

                    </tbody>

                </table>

            </font>

        <div>
          {% insert_page_break %}
        </div>

    {% endfor %}
{% endif %}


