{% load fieldtags %}
{% load my_templatetags %}
{% load absence_tags %}
{% load report_tags %}

{% with_setting ORDER_EXCEED_WARNING as ORDER_WARNING %} 
{% with_setting MODULE_ABSENCE as MODULE_ABSENCE %}

{% if MODULE_ABSENCE %}
  {% collect_absences date=date as day_absences %}
{% endif %}

<h1>{{facility.name}}, {{date|date:"d.m.Y"}}</h1>

{% if not subunit_page %}
  <table>
    <tbody>
      <tr>
      <td class="w5 border"><strong>Name</strong></td>
      {% for mealtime in mealtimes %}
        <td class="w1 center"><strong>{{mealtime.name_short}}</strong></td>
      {% endfor %}
      {% if ORDER_WARNING %}<td class="w3"><strong>Tage berechtigt</strong></td>{% endif %}
      {% if MODULE_ABSENCE %}<td class="w3"><strong>Abwesenheit</strong></td>{% endif %}
      <td class="w7"><strong>Allergene</strong></td>
      </tr>
      {% for subunit in subunit_list %}
        {% include "reports/pdf/partials/dayreport_subunit.html" %}
      {% endfor %}
      <tr>
        <td><strong>Gesamt:</strong></td>
        {% for mealtime in mealtimes %}
          <td class="center"><strong>{{total|keyvalue:mealtime.id}}</strong></td>
        {% endfor %}
        {% if ORDER_WARNING %}<td></td>{% endif %}
        {% if MODULE_ABSENCE %}<td></td>{% endif %}
        <td></td>
      </tr>
    </tbody>
  </table>
{% else %}
  {% for subunit in subunit_list %}
  <table>
    <tbody>
      <tr>
      <td class="border"><strong>Name</strong></td>
      {% for mealtime in mealtimes %}
        <td class="center"><strong>{{mealtime.name_short}}</strong></td>
      {% endfor %}
      {% if ORDER_WARNING %}<td></td>{% endif %}
      {% if MODULE_ABSENCE %}<td><strong>Abwesenheit</strong></td>{% endif %}
      <td><strong>Allergene</strong></td>
      </tr>
      {% include "reports/pdf/partials/dayreport_subunit.html" %}
      <tr>
        <td><strong>Gesamt:</strong></td>
        {% for mealtime in mealtimes %}
          <td class="center"><strong>{{total|keyvalue:mealtime.id}}</strong></td>
        {% endfor %}
        {% if ORDER_WARNING %}<td></td>{% endif %}
        {% if MODULE_ABSENCE %}<td></td>{% endif %}
        <td></td>
      </tr>
    </tbody>
  </table>
  {% if not forloop.last %}
    {% insert_page_break %}
  {% endif %}
  {% endfor %}
{% endif %}
