<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>Schulküche Ralbitz</span><br />
            <span>Helery Hantschick</span>
        </div>

        <span>Truppener Straße 1</span><br/>
        <span>01920 Ralbitz-Rosenthal</span><br/>
        <span>Telefon: 035796 / 869999</span><br/>
        <span>E-Mail: schulkueche-ralbitz@web.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/agb/" class="highlighted">AGB</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
