<div class="panel panel-default">
    <div class="panel-heading">Guthaben aufladen per Überweisung</div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td>Kontoinhaber:</td>
                    <td>AWO Soziale Dienste Rudolstadt gGmbH</td>
                </tr>
                <tr>
                    <td>IBAN:</td>
                    <td>
                        <span class="number-part">DE03</span>
                        <span class="number-part">8305</span>
                        <span class="number-part">0303</span>
                        <span class="number-part">0000</span>
                        <span class="number-part">4557</span>
                        <span class="number-part">33</span>
                    </td>
                </tr>
                <tr>
                    <td>BIC:</td>
                    <td>HELADEF1SAR</td></tr>
                <tr>
                    <td>Verwendungszweck:</td>
                    <td>{{ bank_transfer_purpose }}</td>
                </tr>
            </tbody>
        </table>
        <i>Bitte achten Sie unbedingt darauf, den hier angegebenen Verwendungszweck zu verwenden.</i>
    </div>
</div>



