<div class="panel panel-default">
    <div class="panel-heading">Guthaben aufladen per Überweisung</div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td>Kontoinhaber:</td>
                    <td>DRK-Kreisverband Schmalkalden e.V.</td>
                </tr>
                <tr>
                    <td>IBAN:</td>
                    <td>
                        <span class="number-part">DE78</span>
                        <span class="number-part">8207</span>
                        <span class="number-part">0024</span>
                        <span class="number-part">0471</span>
                        <span class="number-part">5843</span>
                        <span class="number-part">03</span>
                    </td>
                </tr>
                <tr>
                    <td>BIC:</td>
                    <td>DEUTDEDBERF</td></tr>
                <tr>
                    <td>Verwendungszweck:</td>
                    <td>{{ bank_transfer_purpose }}</td>
                </tr>
            </tbody>
        </table>
        <i>Bitte achten Sie unbedingt darauf, den hier angegebenen Verwendungszweck zu verwenden.</i>
    </div>
</div>



