.header-h1 {color:#7c827e; padding-top: 5px;}
.header-h1 a, .header-h1 a:visited, .header-h1 a:focus, .header-h1 a:hover, .header-h1 a:active {color: #7c827e; text-decoration: none; background: none;}

.footer { margin-top: 0; background-color: #79827e; color: #ffffff; }
.footer .block .highlighted {color: #000000;}
.footer a {color: #000000;}

a {color: #79827e;}
a:focus,a:hover {color: #79827e;}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {background-color: #e6aa00;}

.btn-primary, .btn-primary:active, .btn-primary:visited, .btn-primary:focus { color: #000 !important; background-color: #e6aa00 !important; border-color: #d99d00 !important;}
.btn-primary:hover { color: #000 !important; background-color: #d99d00 !important; border-color: #d99d00 !important;}

.panel-default > .registration-panel-heading {background-color: #e6aa00;}

div.actions {padding-bottom: 7px; padding-left: 10px; border-bottom: 2px solid #7c827e;}

#index_page_speisen_jpg {margin-bottom: -50px;}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 770px) {
    #index_page_speisen_jpg {margin-bottom: 0;}
}


@media screen and (max-width: 450px) {
    div.actions {border-bottom: 0; padding-left: 0;}
    .header .logo {text-align: center;}
    .header .logo img {width: 50%;}
}