{% extends "kg/pdf/base.html" %}


{% block style %}
    {{ block.super }}
    .order-table > tbody > tr > td {
        border-left: 1px solid #888;
    }
    .order-table > tbody > tr > td:first-child {
        border-left: none;
    }
    .order-row .desc > div {height: 2.2em; overflow: hidden;}
{% endblock %}

{% block address %}
    {{ invoice.customer.title}}<br />
    {% if invoice.customer.surname %}{{invoice.customer.surname}} {% endif %}{{invoice.customer.name}}<br />
    {{invoice.customer.street}}<br />
    {{invoice.customer.zip_code}} {{invoice.customer.city}}<br />
{% endblock address %}

{% block header-right-bottom %}
    {{ invoice.creation_date|date:"d.m.Y" }}
{% endblock header-right-bottom %}

{% block content %}
  {% autoescape off %}{{ invoice_html }}{% endautoescape %}
{% endblock content%}
