{% extends "admin_copies/change_list.html" %}

{% load url from future %}

{% block object-tools %}
    <ul class="object-tools">
        <li>
            <a href="/admin/kg/customeraccounttransaction/add{% if customer_id %}?customer_id={{ customer_id }}{% endif %}" class="addlink">
                Kundenkonto-Buchung hinzufügen
            </a>
        </li>
    </ul>
{% endblock %}

