<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            WarnowService GmbH<br />
            Am Forsthof 3<br />
            18246 Bützow<br />
        </div>

        <span>Telefon: 038461/45-400 oder -175</span><br />
        <span>E-Mail: krapp@warnowservice.de</span>

    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
