<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>AWO Soziale Dienste Rudolstadt gGmbH</span><br />
        </div>

        <span>Weststraße 11</span><br/>
        <span>07407 Rudolstadt</span><br/>
        <span>Telefon: (03672) 31 41 10</span><br/>
        <span>E-Mail: geschaeftsstelle@awo-rudolstadt.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
