<div class="actions">
    <button class="toggle for-navigation btn btn-default btn-lg">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>

    <div class="header-h1"><a class="logo" href="/"><img src="{{ STATIC_URL }}img/logo_header.png" alt="Logo" /></a></div>

    <button class="toggle for-auth btn btn-default btn-lg">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </button>
</div>