{% extends "admin/object_history.html" %}
{% load i18n %}
{% load url from future %}
{% load admin_urls %}

{% block extrastyle %}
    <link href="{{ STATIC_URL }}bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    {{ block.super }}
    <style type="text/css" media="all">
        body { font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif}
        h1 { font-size: 18px; color: #666; padding: 0 6px 0 0; margin: 0 0 0.5em 0; }
        .module { border: none; }
        .popover .popover-content { font-size: 12px; }
        .old { color: #999; }
    </style>
{% endblock %}

{% block content %}
  <div id="content-main">
    <p>{% blocktrans %}Choose a date from the list below to revert to a previous version of this object.{% endblocktrans %}</p>
    <div class="module">
      {% if action_list %}
        <table id="change-history" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">{% trans 'Object' %}</th>
              <th scope="col">{% trans 'Date/time' %}</th>
              <th scope="col">{% trans 'Comment' %}</th>
              <th scope="col">{% trans 'Changed by' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for action in action_list %}
              <tr>
                <td><a href="{% url opts|admin_urlname:'simple_history' object.pk action.pk %}">{{ action.history_object }}</a></td>
                <td>{{ action.history_date }}</td>
                <td>{% if action.history_type == '~' %}
                      {% with action.get_changes as items %}
                        {% if items %}
                        <a href="#" data-placement="left" data-trigger="hover" data-toggle="popover" data-content="{% for item in items %}&bullet; <strong>{{ item.0 }}</strong>: {{ item.2 }} <span class=old>[{{ item.1 }}]</span><br/>{% endfor %}">{{ action.display_general_change }}</a>
                        {% else %}
                        {{ action.display_general_change }}
                        {% endif %}
                      {% endwith %}
                    {% else %}
                        {{ action.get_history_type_display }}
                    {% endif %}
                </td>
                <td>
                  {% if action.history_user %}
                    {% url admin_user_view action.history_user_id as admin_user_url %}
                    {% if admin_user_url %}
                      <a href="{{ admin_user_url }}">{{ action.history_user }}</a>
                    {% else %}
                      {{ action.history_user }}
                    {% endif %}
                  {% else %}
                    None
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>{% trans "This object doesn't have a change history." %}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block js  %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{{ STATIC_URL }}js/jquery-1.12.0.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ui-1.11.4/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
{% endblock %}

{% block docreadyjs %}
    {{ block.super }}
    $('[data-toggle="popover"]').popover({html: true});
{% endblock %}
