<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>Lebenshilfe e.V.  RV Oschatz</span><br />
            <span>Werkstatt für behinderte Menschen</span>
        </div>

        <span>Ernst-Schneller-Straße 14</span><br/>
        <span>04758 Oschatz</span><br/>
        <span>Telefon: </span><br/>
        <span>E-Mail: info@essenbestellung-lebenshilfe.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/agb/" class="highlighted">AGB</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
