.header-h1 {margin-top: 10px;}
.header-h1 a, .header-h1 a:visited, .header-h1 a:focus, .header-h1 a:hover, .header-h1 a:active {color: #7baf2c; text-decoration: none; background: none;}

div.actions {padding-bottom: 15px; border-bottom: 2px solid #7baf2c;}

.left-block {width: 25%;}


@media screen and (max-width: 900px) {


}

@media screen and (max-width: 750px) {

    div.actions {padding-bottom: 0; border-bottom: 0;}

}


@media screen and (max-width: 580px) {

    .header-h1 {margin-top: 5px;}
    .header .logo {text-align: center;}
    .header .logo img {width: 30%;}

}

