<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>Evangelische Schule Dettmannsdorf</span><br />
        </div>

        <span>Schulstr. 8</span><br/>
        <span>18334 Dettmannsdorf</span><br/>
        <span>Telefon: (038228) 234</span><br/>
        <span>E-Mail: vorstand@schule-dettmannsdorf.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
