{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load url from future %}


{% block js %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
{% endblock %}


{% block docreadyjs %}
    $(".addSelect").click(function(event){
        event.preventDefault();
        $(this).before('<br />').before($(this).prev().prev().clone());
    });
{% endblock docreadyjs %}



{% block content %}
  <div id="content-main">

    <h1>Manuelle Zuordnung</h1>

    <br />

    <form method="post">
    {% csrf_token %}

        {% for bat in BankAccTrans %}
            <div>
                {{ bat.bank_account_owner }} - {{ bat.amount }} - {{ bat.get_type_display }} - {{ bat.t_date }}<br />
                {{ bat.subject }}
                <br />
                <select name="batCatIds">
                    <option value="0-0-0">--- bitte wählen ---</option>
                    {% if  MODULE_PREPAID %}

                        {% for item in qsCustomers %}
                            <option value="{{ bat.id }}-{{ item.id }}-0">{{ item }} - Kinder: {% for child in item.child_set.all %}{{ child.name }}, {{ child.surname }}{% endfor %}</option>
                        {% endfor %}

                    {% else %}

                        {% for item in qsCATs %}
                            <option value="{{ bat.id }}-{{ item.customer.id }}-{{ item.id }}">{{ item.customer }} - {{ item.amount }} - {{ item.description }} - {{ item.transaction_date }}</option>
                        {% endfor %}

                    {% endif %}
                </select>
                {% if not MODULE_PREPAID %}<a href="#" class="addSelect">+</a>{% endif   %}
                <br /><br />
            </div>
        {% endfor %}

        <br /><br />

        <input type="submit" name="cancel" value="Abbrechen" />
        &nbsp&nbsp&nbsp
        &nbsp&nbsp&nbsp
        <input type="submit" value="Senden" />
    </form>















  </div>
{% endblock %}
