<span id="btn_change_username" class="btn_custom_tab{% if visible == 'change_username' %} selected{% endif %}">Benutzername ändern</span>
<span id="btn_change_password" class="btn_custom_tab{% if visible == 'change_password' %} selected{% endif %}">Passwort ändern</span>
<span id="btn_delete_login" class="btn_custom_tab{% if visible == 'delete_login' %} selected{% endif %}">Login löschen</span>
<div id="change_username" class="custom_tab{% if visible != 'change_username' %} invisible{% endif %}">
    {% if username_changed %}
        <span class="success">Benutzername geändert</span>
    {% endif %}
    <form action="" method="post" id="change_customer_login">
        {% if username_taken %}
            <span class="error">Benutzername "{{ username_taken }}" ist schon vergeben.</span>
        {% endif %}
        {% if username_to_short %}
            <span class="error">Feld Benutzername darf nicht leer sein.</span>
        {% endif %}
        <h3>{{ customer }}, {{ customer.email }}</h3>
        <div class="frm_item">
            <label for="username">Benutzer: </label><input type="text" name="username" value="{{ customer.user.username }}" id="id_username">
        </div>
        {% csrf_token %}
        <input type="hidden" name="customer_id" value="{{ customer.id }}" id="customer_id" />
        <button type="submit">Speichern</button>
    </form>
</div>
<div id="change_password" class="custom_tab{% if visible != 'change_password' %} invisible{% endif %}">
    {% if password_changed %}
        <span class="success">Passwort geändert.</span>
    {% endif %}
    <form action="" method="post" id="change_customer_password">
        {% if password_to_short %}
            <span class="error">Feld Passwort darf nicht leer sein.</span>
        {% endif %}
        <h3>{{ customer }}, {{ customer.email }}</h3>
        <div class="frm_item">
            <label for="id_password">Passwort: </label><input type="text" name="password" value="" id="id_password">
            <button id="btn_random_password" type="button">Zufälliges Passwort</button>
        </div>
        {% csrf_token %}
        <input type="hidden" name="customer_id" value="{{ customer.id }}" id="customer_id" />
        <input type="hidden" name="toemail" value="0" id="toemail" />
        <button id="btn_basic_password" type="submit">Speichern</button>
        {% if customer.email %}
            <button id="btn_toemail_password" type="submit">Speichern + Passwort per E-Mail senden</button>
        {% endif %}
    </form>
</div>
<div id="delete_login" class="custom_tab{% if visible != 'delete_login' %} invisible{% endif %}">
    <br />  
    <button id="btn_remove_login" type="button">Login löschen</button>
</div>

<script type="text/javascript">
jq = '';
function close_event(e){
    jq('#overlay').remove();
    jq('#my_prompt').remove();
    jq('#btn_cancle').unbind('click');
    jq('#btn_close').unbind('click');
}

function setup_form($){
    jq = $;
    $('#btn_close').click(close_event);
    
    $('.btn_custom_tab').click(function(){
        var tab_id = $(this).attr('id').replace('btn_', '');
        $('.btn_custom_tab').removeClass('selected');
        $(this).addClass('selected');
        $('.custom_tab').addClass('invisible');
        $('#'+tab_id).removeClass('invisible');
    });
    
    $('#btn_random_password').click(function(){
        $.get("/admin/random_password/", function(data){
            $('#id_password').attr('value', data);
        })
    });
    
    $('#btn_basic_password').click(function(){
        $('#toemail').attr('value', '0');
    });
    
    $('#btn_toemail_password').click(function(){
        $('#toemail').attr('value', '1');
    });
    
    $('#change_customer_login').submit(function(e){
        e.preventDefault();
        var id = $('#customer_id').attr('value');
        var username = $('#id_username').attr('value');
        
        $.post("/admin/change_customer_login/?id="+id, $('#change_customer_login').serialize(), function(data){
            // if login created
            if($('<div></div>').append(data).find('.success').length > 0){
                $('#cl'+id).html(username);
            }
            set_prompt_body(data, $);
        });
    });
    
    $('#change_customer_password').submit(function(e){
        e.preventDefault();
        var id = $('#customer_id').attr('value');
        
        $.post("/admin/change_customer_password/?id="+id, $('#change_customer_password').serialize(), function(data){
            set_prompt_body(data, $);
        });
    });
    
    $('#btn_remove_login').click(function(){
        var id = $('#customer_id').attr('value');
        
        var r = confirm("Wollen Sie das Login wirklich löschen?");
        if (r == true) {
            $.get("/admin/delete_customer_login/?id="+id, function(data){
                if($('<div></div>').append(data).find('.success').length > 0){
                    $('#cl'+id).html('Login anlegen');
                }
                
                set_prompt_body(data, $);
            });
        }
    });
}



function set_prompt_body(data, $){
    $('#prompt_body').html(data);    
    setup_form($);
}

function init($){
    setup_form($);
}
</script>