<form action="" method="post" id="customer_login">
    {% if username_taken %}
        <span class="error">Benutzername "{{ username_taken }}" ist schon vergeben.</span>
    {% endif %}
    {% if username_to_short %}
        <span class="error">Feld Benutzername darf nicht leer sein.</span>
    {% endif %}
    <h3>{{ customer }}, {{ customer.email }}</h3>
    <div class="frm_item">
        <label for="username">Benutzer: </label><input type="text" name="username" value="{{ customer.email }}" id="id_username">
    </div>
    <div class="frm_item">
        <label for="password" class="lbl_">Passwort: </label><input type="text" name="password" value="{{ password }}" id="id_password">
    </div>
    {% csrf_token %}
    <input type="hidden" name="customer_id" value="{{ customer.id }}" id="customer_id" />
    <input type="hidden" name="toemail" value="0" id="toemail" />
    <button id="btn_basic_login" type="submit">Login anlegen</button>
    {% if customer.email %}
        <button id="btn_toemail_login" type="submit">Login anlegen + Passwort per E-Mail senden</button>
    {% endif %}
</form>