{% extends "admin_copies/change_list.html" %}
{% load i18n staticfiles %}
{% load url from future %}
{% load simpletags %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery-1.12.0.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}/admin/css/popover.css?v={% commit_hash %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/order.css" %}?v={% commit_hash %}" />
{% endblock extrastyle %}

{% block docreadyjs %}
    function showQuantityEdit(e) {
        var $widgetEdit = $('#quantity-edit');
        var $cell = $(e.target);
        var dataset = e.target.dataset;
        if (dataset.id == $widgetEdit.attr('data-id')) {
            return;
        }

        $widgetEdit.attr('data-id', dataset.id);
        if (e.target.classList.contains('ordered')) {
            $widgetEdit.addClass('ordered');
        } else {
            $widgetEdit.removeClass('ordered');
        }

        // set ID and positioning
        $widgetEdit.attr('data-id', dataset.id);
        var offset = $cell.offset();
        $widgetEdit.show().offset({
            left: offset.left + 11,
            top: offset.top + 3,
        });
    }

    function hideQuantityEdit(e) {
        var widgetEdit = document.getElementById('quantity-edit');
        var toElement = e.toElement || e.relatedTarget;
        if (toElement == widgetEdit || toElement.parentElement == widgetEdit) {
            return;
        }
        $(widgetEdit).attr('data-id', '').hide();
    }

    $('#quantity-edit input:button').click(function(event) {

        event.preventDefault();
        event.stopPropagation();

        var order_id = $(this).parent().attr('data-id');
        var action = $(this).attr('data-action');
        var quantity = parseInt($('#'+order_id).text());
        if ( action == 'down' ) {
            quantity = quantity - 1;
        }
        if ( action == 'up' ) {
            quantity = quantity + 1;
        }
        if ( quantity < 0 ) {
            quantity = 0;
        }
        $.ajax({
          type: "GET",
          dataType:  'json',
          cache: false,
          data: {
            'value' : order_id + '-' + quantity,
          },
          success: function(data) {
              if ( data['error'] == false ) {
                var $quantityEdit = $('#quantity-edit');
                var $quantityLabel = $('#' + order_id);
                $quantityLabel.text(data['quantity']);
                var $cell = $quantityLabel.closest('.action-checkbox');
                if (data['quantity']) {
                    $cell.addClass('ordered');
                    $quantityEdit.addClass('ordered');
                } else {
                    $cell.removeClass('ordered');
                    $quantityEdit.removeClass('ordered');
                }
              }
              else {
                alert(data['message']);
              }
            },
          error: function() {
              alert('Es ist ein Fehler aufgetreten!');
            }
        });
    });


    $('body').click(function(e){
        // Only hide the popover when clicking outside of it
        if (!$(e.target).parents('.popover').length)
            $('.popover:visible').hide();
    });

    $('.action-checkbox').click(function (e) {
        var checkbox_value = $(this).attr('data-id');
        var ids = checkbox_value.split('-');
        var url = '/admin/kg/orderhistory-popup/' + ids[0] + '/' + ids[1] + '/';

        $.get(url, function(data){
            $(e.target).popover({
                'html': true,
                'content': data['content'],
                'title': data['title'],
                'container': 'body',
                'trigger': 'focus',
            }).popover('show');
        });
    });

    $('#order-results').scroll(function(e) {
        $('.popover:visible').hide();
    });


    // Show and hide the control button of each order action box respectively
    // to mouse hovering event.
    $('#order-results .action-checkbox').hover(
       showQuantityEdit,
       hideQuantityEdit
    );

    var $order_results = $("#order-results");

    // Append current position of order table into URL to hold it in the next
    // page load ~ position won't be changed at week switching.
    $('#week-list a').click(function() {
      var scroll_pos = $order_results.scrollTop();
      if (scroll_pos) {
        var current_url = $(this).attr('href');
        $(this).attr('href', current_url+'&pos='+scroll_pos);
      }
    });
    $order_results.scrollTop({{ request.GET.pos|default:0 }});

    $order_results.css("height", $(window).height() - $order_results.offset().top - 20);

    // /////
    // CLEARABLE INPUT
    $('#searchbar').toggleClass('x', $('#searchbar').val() !== "")
    function tog(v){return v?'addClass':'removeClass';}
    $(document).on('input', '.clearable', function(){
            $(this)[tog(this.value)]('x');
            }).on('mousemove', '.x', function( e ){
                $(this)[tog(this.offsetWidth-18 < e.clientX-this.getBoundingClientRect().left)]('onX');
            }).on('touchstart click', '.onX', function( ev ){
                ev.preventDefault();
            $(this).removeClass('x onX').val('').closest('form').submit();
        });

{% endblock docreadyjs %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; Essenbestellungen bearbeiten
</div>
{% endblock %}

{% block content %}
  <div id="content-main">
    <h1>Essenbestellungen bearbeiten</h1>
    <br />
    <noscript>
    	<div class="warning">
    		<strong>JavaScript deaktiviert!</strong><br />
    		Bitte aktivieren Sie JavaScript. Ihre Eingaben werden sonst NICHT gespeichert.
    	</div>
    </noscript>

    <form id="orderlist-search" action="" method="get">
        <div>
            <label for="searchbar">
                <img src="{% static "admin/img/selector-search.gif" %}"
                     alt="Search"/>
            </label>
            <input type="hidden" name="year" value="{{ request.GET.year }}"/>
            <input type="hidden" name="week" value="{{ request.GET.week }}"/>
            {% if request.GET.facility %}
                <input type="hidden" name="facility" value="{{ request.GET.facility }}"/>
            {% endif %}
            {% if request.GET.facility_subunit %}
                <input type="hidden" name="facility_subunit" value="{{ request.GET.facility_subunit }}"/>
            {% endif %}
            <input type="text" size="40" name="q" value="{{ query }}"
                   id="searchbar" class="clearable {% if not request.GET.q %}clearable-active{% endif %}" />
            <input type="submit" value="{% trans 'Search' %}"/>
        </div>
    </form>

    <div id="week-list">
        <span style="font-weight: bold;">KW {{ week_choice }}</span>&nbsp;&nbsp;
        {% if week_choice != current_week_num %}
            <a href="{% url 'admin_order' %}{% if all_filters %}?{{ all_filters }}{% endif %}">aktuelle Woche</a>
        {% else %}
            aktuelle Woche
        {% endif %}&nbsp;&nbsp;|&nbsp;
        {% for week in weeks_for_links %}
            {% if week.week != week_choice %}
                <a href="?year={{ week.year }}&week={{ week.week }}{% if all_filters %}&{{ all_filters }}{% endif %}">KW {{ week.week }}</a>&nbsp;&nbsp;
            {% else %}
                <span class="selected-week">KW {{ week.week }}&nbsp;&nbsp;</span>
            {% endif %}
        {% endfor %}
    </div>

    <div class="module filtered" id="changelist" style="width:1100px;">

      {% block filters %}
		
      <div id="changelist-filter">
        <h2>Filter</h2>
        <h3>Einrichtung</h3>
        <ul>
        {% for facility in facilities %}
            <li{% if facility.selected %} class="selected"{% endif %}>
                <a href="{{facility.link|iriencode }}">{{facility.name}}</a>
            </li>
        {% endfor %}
        </ul>
        <h3>Klasse/Gruppe</h3>
        <ul>
        {% for subunit in subunits %}
            <li{% if subunit.selected %} class="selected"{% endif %}>
                <a href="{{subunit.link|iriencode }}">{{subunit.name}}</a>
            </li>
        {% endfor %}
        </ul>
        <h3>Bestellt</h3>
        <ul>
        {% for choice in status_choices %}
            <li{% if choice.selected %} class="selected"{% endif %}>
            <a href="{{ choice.link|iriencode }}">{{ choice.name }}</a></li>
        {% endfor %}
        </ul>
      </div>

      <div id="quantity-edit" data-id="">
        <input class="btn-minus" type="button" value="-" data-action="down"/>
        <input class="btn-plus" type="button" value="+" data-action="up">
      </div>
      
      <div class="results" id="order-results">

        <div id="order-table-header-wrap" class="fixed-header">
          <div id="order-table-header-container">
            <div id="order-table-header">
              <table cellspacing="0" id="result_list">
                <thead>
                  <tr>
                    <th scope="col" class="cn">Kind</th>
                    <th scope="col" class="cm">&nbsp;</th>
                    {% for date in dates %}
                    <th scope="col" class="cd" style="white-space: nowrap;">{{date|date:'D, d.m.y'}}</th>
                    {% endfor %}
                    <th scope="col" class="co">Notiz</th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>

        <table cellspacing="0" id="result_list">
          <thead>
            <tr>
              <th scope="col" class="cn">Kind</th>
              <th scope="col" class="cm">&nbsp;</th>
              {% for date in dates %}
              <th scope="col" class="cd" style="white-space: nowrap;">{{date|date:'D, d.m.y'}}</th>
              {% endfor %}
              <th scope="col" class="co">Notiz</th>
            </tr>
          </thead>
          <tbody>
            {% if show_order_all and order_all_list %}
                <tr>
                  <th rowspan="{{mealtimes|length}}">
                      Alle Kinder
                  </th>

                  {% for mealtime in order_all_list %}
                    {% if not forloop.first %}
                    <tr>
                    {% endif %}
                    <td>{{mealtime.name_short}}</td>
                    {% for menu in mealtime.menus %}
                        <td class="align-center">
                            {% if menu.can_be_ordered %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="child_ids" value="{{ menu.child_id_string }}">
                                    <input type="hidden" name="menu_id" value="{{ menu.menu_id }}">
                                    <input type="hidden" name="query_string" value="{{ url_query_string }}">
                                    <input type="submit" name="form_submit_cancel" value="-">
                                    <input type="submit" name="form_submit_order" value="+">
                                </form>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                    {% endfor %}
                    {% if not forloop.first %}</tr>{% endif %}
                    {% if forloop.first %}
                        <td rowspan="{{mealtimes|length}}">&nbsp;</td>
                    {% endif %}
                  {% endfor %}
                </tr>
            {% endif %}
            {% for child in children %}
            <tr class="{% cycle 'row1' 'row2' as rowcolor %} child-row">
              <td class="cn" rowspan="{{child.mealtimes_list|length}}">
                <a href="/admin/kg/child/{{child.id}}/">{{child.name}}, {{child.surname}}</a>
              </td>
              {% for mealtime in child.mealtimes_list %}
                {% if not forloop.first %}<tr class="{% cycle rowcolor %}">{% endif %}
                <td class="cm">{{mealtime.name_short}}</td>
                {% for order in mealtime.orders %}
                  {% if order.exists %}
                    <td class="cd action-checkbox {{ order.quantity|yesno:'ordered,' }}" data-id="{{ order.id }}">
                      <span id="{{ order.id }}">{{ order.quantity }}</span>
                    </td>
                  {% else %}
                    <td>&nbsp;</td> 
                  {% endif %}
                {% endfor %}
                {% if forloop.counter == 1 %}
                    <td rowspan="{{child.mealtimes_list|length}}" class="{{ child.ordered_day_count|yesno:'danger,' }}">
                        {% if child.ordered_day_count %}<div>Berechtigung Wochentage: {{ child.extra_attribute|default:'0' }}</div>{% endif %}
                        {% if child.customer.is_suspended %}
                            <img alt="gesperrt" title="gesperrt" src="{{STATIC_URL}}admin/img/admin/icon-no.gif" />{% endif %}
                        {% if child.note %}
                            {% if child.mealtimes_list|length == 1 %}
                                <span title="{{child.note}}" style="font-weight:normal;color:#666;">
                                    {{child.note|stringformat:".30s"}}{% if child.note|length > 30 %}...{% endif %}
                                </span>
                            {% else %}
                                {% if child.mealtimes_list|length == 2 %}
                                    <span title="{{child.note}}" style="font-weight:normal;color:#666;">
                                        {{child.note|stringformat:".60s"}}{% if child.note|length > 60 %}...{% endif %}
                                    </span>
                                {% else %}
                                    <span title="{{child.note}}" style="font-weight:normal;color:#666;">
                                        {{child.note|stringformat:".120s"}}{% if child.note|length > 120 %}...{% endif %}
                                    </span>
                                {% endif %}
                            {% endif %}


                        {% endif %}
                    </td>
                {% endif %}

                {% if not forloop.first %}</tr>{% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
		  </div>
      {% endblock filters %}
    </div>
  </div>
{% endblock %}
