{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load fieldtags %}
{% load url from future %}

{% block content %}
  <div id="content-main">

    <h1>Bestellhistorie</h1>

    <h3>{{ date|date:"F Y" }} - {{ child }}</h3>
    <br />

    {% for day in history %}

        <strong>{{ day.menu.date|date:"d.m.y" }} - {{ day.menu.meal }}</strong><br />

        {% for order in day.order_history  %}
            {% if order.pickup_time %}{{ order.pickup_time }} - abgeholt<br />{% endif %}
            {{ order.last_modified }} - {{ order.status }} - {{ order.user }} {% if order.user_name %}- {{ order.user_name }}{% endif %}<br />
        {% endfor %}
        <br />

    {% endfor %}



  </div>
{% endblock %}