{% load fieldtags %}
{% for order in orderHistory %}
    {% if order.pickup_time %}&bullet;&nbsp; {{ order.pickup_time }} - abgeholt<br />{% endif %}
    &bullet;&nbsp; {{ order.last_modified }} - {{ order.status }} - {{ order.user }} {% if order.user_name %}- {{ order.user_name }}{% endif %}<br />
{% endfor %}
<a href="{% url kg.views_admin.orderhistory child.id menu.date.year menu.date.month %}"
   class="footer-link" target="_blank" id="closeLink">zur Monatsübersicht</a>
