{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load fieldtags %}
{% load my_templatetags %}
{% load url from future %}


{% block content %}
  {% with_setting CANTEEN_MODE as CANTEEN_MODE %}

  <div id="content-main">

    <h1>Rechnungen, SEPA, CSV</h1>
    
	<br />
 

  	
  	{% if error %}
		<div class="error">Fehler: {{error}}</div>
		<br />
	{% endif %}
  	
  	
  	{% if form_invoice.errors %}
		<div class="warning"><p>Es sind Fehler aufgetreten. Bitte korrigieren Sie die markierten Felder.</p></div>
		<br />
	{% endif %}
  	
  	<form action="{% url 'kg.views_admin.rechnung_index' %}" method="post" class="yform">
  		
  		{% csrf_token %}
  		
	   {% if form_invoice.non_field_errors %}{{ form_invoice.non_field_errors }}{% endif %}  
	   {% for fieldset in form_invoice.fieldsets %}  
	     <fieldset class="{{ fieldset.classes }}">  
	       {% if fieldset.legend %}  
	         <legend>{{ fieldset.legend }}</legend>  
	       {% endif %}  
	       {% if fieldset.description %}  
	         <div class="description">{{ fieldset.description }}</div>  
	       {% endif %}  
	         
	         <table class="invisible">
	         {% for field in fieldset %}  
	           {% if field.is_hidden %}  
	             {{ field }}  
	           {% else %}
	           		<tr>  
		       		  <td class="align-right valign-middle">{{ field.label_tag }}</td>
		         	  <td class="align-left valign-middle">{{ field }}</td>
		         	<tr>       
	           {% endif %}  
	         {% endfor %}
	         </table>
	       
	     </fieldset>  
	   {% endfor %}
   
		<input type="submit" value="Herunterladen" />
	</form>
    
    <br />
    <br />
    <br />  
    
    <form action="{% url 'kg.views_admin.rechnung_download' %}" method="get" class="yform">
    
    	<fieldset class="module aligned">  
	         
	         <legend>Rechnung für {% if CANTEEN_MODE %}einzelnen Mitarbeiter{% else %}einzelnes Kind{% endif %} herunterladen</legend>

	         <table class="invisible">
           		<tbody>
           			<tr>  
	       		  		<td class="align-right valign-middle">
	       		  			<label for="id_month">Monat</label>
	       		  		</td>
	         	  		<td class="align-left valign-middle">
	         	  			<select name="month" id="id_month">
	         	  				{% for month in months %}
									<option value="{{month}}" {% if month == last_of_last_month.month %}selected="selected"{% endif %}>{{month|stringformat:"02d"}}</option>
								{% endfor %}
							</select>
						</td>
	         		</tr>
	      			<tr>  
	       		  		<td class="align-right valign-middle">
	       		  			<label for="id_year">Jahr</label>
	       		  		</td>
	         	  		<td class="align-left valign-middle">
	         	  			<select name="year" id="id_year">
								{% for year in years %}
									<option value="{{year.year}}" {% if year.year == last_of_last_month.year %}selected="selected"{% endif %}>{{year.year}}</option>
								{% endfor %}
							</select>
						</td>
	         		</tr>
	         		<tr>  
	       		  		<td class="align-right valign-middle">
	       		  			<label for="id_child">{% if CANTEEN_MODE %}Mitarbeiter{% else %}Kinder{% endif %}</label>
	       		  		</td>
	         	  		<td class="align-left valign-middle">
	         	  			<select name="child_id" id="id_child">
								{% for child in children %}
									<option value="{{child.id}}">{{child}}</option>
								{% endfor %}
							</select>
						</td>
	         		</tr>
	         	</tbody>
			</table>
	       
	     </fieldset>
  
    	<input type="submit" value="Herunterladen" />
    	
	</form>

    <br />
    <br />
    <br />

    {%  if form_sepa %}

        <form action="{% url 'kg.views_admin.rechnung_index' %}" method="post" class="yform">

           {% csrf_token %}

           {% if form_sepa.non_field_errors %}{{ form_sepa.non_field_errors }}{% endif %}
           {% for fieldset in form_sepa.fieldsets %}
             <fieldset class="{{ fieldset.classes }}">
               {% if fieldset.legend %}
                 <legend>{{ fieldset.legend }}</legend>
               {% endif %}
               {% if fieldset.description %}
                 <div class="description">{{ fieldset.description }}</div>
               {% endif %}

                 <table class="invisible">
                 {% for field in fieldset %}
                   {% if field.is_hidden %}
                     {{ field }}
                   {% else %}
                        <tr>
                          <td class="align-right valign-middle">{{ field.label_tag }}</td>
                          <td class="align-left valign-middle">{{ field }}</td>
                        <tr>
                   {% endif %}
                 {% endfor %}
                 </table>

             </fieldset>
           {% endfor %}

            <input type="submit" name="FRST" value="Erst-Lastschriften" />
            &nbsp;&nbsp;&nbsp;
            <input type="submit" name="RCUR" value="Folge-Lastschriften" />
        </form>
        <br />
        <br />
        <br />

    {% endif %}

    {%  if form_fibu_bookings %}

        <form action="{{ form_fibu_bookings.action }}" method="post" class="yform">

           {% csrf_token %}

           {% if form_fibu_bookings.non_field_errors %}{{ form_fibu_bookings.non_field_errors }}{% endif %}
           {% for fieldset in form_fibu_bookings.fieldsets %}
             <fieldset class="{{ fieldset.classes }}">
               {% if fieldset.legend %}
                 <legend>{{ fieldset.legend }}</legend>
               {% endif %}
               {% if fieldset.description %}
                 <div class="description">{{ fieldset.description }}</div>
               {% endif %}

                 <table class="invisible">
                 {% for field in fieldset %}
                   {% if field.is_hidden %}
                     {{ field }}
                   {% else %}
                        <tr>
                          <td class="align-right valign-middle">{{ field.label_tag }}</td>
                          <td class="align-left valign-middle">{{ field }}</td>
                        <tr>
                   {% endif %}
                 {% endfor %}
                 </table>

             </fieldset>
           {% endfor %}

            <input type="submit" value="Herunterladen" />
            &nbsp;&nbsp;&nbsp;
        </form>
        <br />
        <br />
        <br />

    {% endif %}

    {% if form_fibu_debtors %}
        <form action="{{ form_fibu_debtors.action }}" method="post" class="yform">

            {% csrf_token %}

           {% if form_fibu_debtors.non_field_errors %}{{ form_fibu_debtors.non_field_errors }}{% endif %}
           {% for fieldset in form_fibu_debtors.fieldsets %}
             <fieldset class="{{ fieldset.classes }}">
               {% if fieldset.legend %}
                 <legend>{{ fieldset.legend }}</legend>
               {% endif %}
               {% if fieldset.description %}
                 <div class="description">{{ fieldset.description }}</div>
               {% endif %}

                 <table class="invisible">
                 {% for field in fieldset %}
                   {% if field.is_hidden %}
                     {{ field }}
                   {% else %}
                        <tr>
                          <td class="align-right valign-middle">{{ field.label_tag }}</td>
                          <td class="align-left valign-middle">{{ field }}</td>
                        <tr>
                   {% endif %}
                 {% endfor %}
                 </table>

             </fieldset>
           {% endfor %}

            <input type="submit" value="Herunterladen" />
        </form>

        <br />
        <br />
        <br />

    {% endif %}


    <form action="{% url 'kg.views_admin.rechnung_index' %}" method="post" class="yform">

        {% csrf_token %}

       {% if form_taxcsv.non_field_errors %}{{ form_taxcsv.non_field_errors }}{% endif %}
       {% for fieldset in form_taxcsv.fieldsets %}
         <fieldset class="{{ fieldset.classes }}">
           {% if fieldset.legend %}
             <legend>{{ fieldset.legend }}</legend>
           {% endif %}
           {% if fieldset.description %}
             <div class="description">{{ fieldset.description }}</div>
           {% endif %}

             <table class="invisible">
             {% for field in fieldset %}
               {% if field.is_hidden %}
                 {{ field }}
               {% else %}
                    <tr>
                      <td class="align-right valign-middle">{{ field.label_tag }}</td>
                      <td class="align-left valign-middle">{{ field }}</td>
                    <tr>
               {% endif %}
             {% endfor %}
             </table>

         </fieldset>
       {% endfor %}

        <input type="submit" value="Herunterladen" />
    </form>
    <br />
    <br />
    <br />


  </div>
{% endblock %}