{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load fieldtags %}
{% load url from future %}


{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.12.0.min.js"></script>
    <script src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
{% endblock %}


{% block docreadyjs %}

    var started_tasks = {};
    var pending_ttl = null;
    
	$('input[name="generate_billing"]').click(generate_billing);

    function generate_billing() {
		var code = $(this).attr('id');
		$('#aktion-' + code + '-billing').html('<img src="/static/img/icons/ajax-loader.gif" />');
	    $.ajax({
            type: "GET",
            dataType:  'json', 
            data: {
                'value' : code,
                'action': 'billing'
            },
            success: function(data) {
                if (!data['error']) {
                    if (data['task'] != null) {
                        started_tasks[data['task']] = setInterval(update_progress, 200, data);
                        pending_ttl = 60; // 12 seconds for preparation
                    } else {
                        location.reload();
                    }
                } else {
                    $('#aktion-' + data['code'] + '-billing').html('<input type="submit" name="generate_billing" id="' + data['code'] + '" value="Abrechnen">');
                    $('#aktion-' + data['code'] + '-billing').click(generate_billing)
                }
                if ( data['invoice_count'] != data['release_count'] ) {
                    $('#status-' + data['code'] + '-release').text('Offen');
                    $('#aktion-' + data['code'] + '-release').html('<input type="submit" name="generate_release" id="' + data['code'] + '" value="Freigeben">');
                    $('input[name="generate_release"]').click(generate_release);
                } else {
                    $('#status-' + data['code'] + '-release').text('OK');
                    $('#aktion-' + data['code'] + '-release').text('');
                }
            },
            error: function() {
                $('#aktion-' + code + '-billing').html('Fehler');
                alert("Fehler! - Es ist ein Fehler aufgetreten. Bitte laden Sie die Seite neu.");
            }
		});
		
	};

	function kill_progress(task_id) {
        clearInterval(started_tasks[task_id]);
        pending_ttl = null;
	}

    function update_progress(result) {
        var task_id = result['task'];
        var code = result['code'];
        $.ajax({
            url: '{% url 'celery_task_result' %}?task='+task_id,
            success: function(data) {
                var res = data[1];
                var status = data[0];
                if (status == 'SUCCESS') {
                    kill_progress(task_id);
                    $('#ist-' + code + '-billing').text(res['invoice_count']);
                    $('#status-' + code + '-billing').text('OK');
                    $('#aktion-' + code + '-billing').html('');
                    $('#soll-' + code + '-release').text(res['invoice_count']);
                    $('#ist-' + code + '-release').text(res['release_count']);

                    $('#status-' + code + '-release').text('Offen');
                    $('#aktion-' + code + '-release').html('<input type="submit" name="generate_release" id="' + code + '" value="Freigeben">');
                    $('input[name="generate_release"]').click(generate_release);
                } else if (status == 'FAILURE') {
                    kill_progress(task_id);
                    show_billing_error(code);
                } else if (status == 'PROGRESS') {
                    var progress = Math.round(res['progress_percent']);
                    $('#aktion-' + code + '-billing').html('<div class="progress" style="width: '+progress+'%;">'+progress+'%</div>');
                    $('#status-' + code + '-billing').text('Bearbeitung');
                } else {
                    if (!pending_ttl) {
                        show_billing_error(code);
                        kill_progress(task_id);
                    } else {
                        pending_ttl--;
                    }
                }
            },
            error: function(data) {
                kill_progress(task_id);
                show_billing_error(code);
            }
        });
    }

    $('input[name="generate_release"]').click(generate_release);

    function show_billing_error(code) {
        alert("Fehler! - Es ist ein Fehler aufgetreten. Bitte laden Sie die Seite neu.");
        $('#status-' + code + '-billing').html('Fehler');
        $('#aktion-' + code + '-billing').html('');
        $('input#' + code).click(generate_billing);
    }

    function generate_release() {
		code = $(this).attr('id');
		$('#aktion-' + code + '-release').html('<img src="/static/img/icons/ajax-loader.gif" />');
	    $.ajax({
            type: "GET",
            dataType:  'json',
            data: { 'value' : code,
                    'action': 'release'
                    },
            success: function(data) {
                $('#soll-' + data['code'] + '-release').text(data['invoice_count']);
                $('#ist-' + data['code'] + '-release').text(data['release_count']);
                $('#status-' + data['code'] + '-release').text(data['release_status']);
                $('#aktion-' + data['code'] + '-release').html('');
                if ( data['error'] == true ) {
                    $('#aktion-' + data['code'] + '-release').html('<input type="submit" name="generate_release" id="' + data['code'] + '" value="Freigeben">');
                    $('#aktion-' + data['code'] + '-release').click(generate_release);
                }
            },
            error: function() {
                alert("Fehler! - Es ist ein Fehler aufgetreten. Bitte laden Sie die Seite neu.");
            }
		});

	};
	
	$('input[name="generate_child"]').click(function () {
		
		id_code = $(this).attr('id');
		child_id = $("#" + id_code + "-select").val();
		
		code = id_code + "-" + child_id;
		
		$('#child_status').text("Status:");
		
	    $.ajax({
				type: "GET",
				dataType:  'json', 
				data: { 'value' : code,
                        'action': 'billing'
					  },
				success: function(data) {
						$('#ist-' + data['code']).text(data['invoice_count']);
						if ( data['error'] ) {
							$('#child_status').text("Status: " + data['billing_status']);
						} else {
							$('#child_status').html("Status: " + data['billing_status'] + "&nbsp;&nbsp;&#8658;&nbsp;&nbsp;<a href=\"{% url 'kg.views_admin.rechnung_download' %}?" + data['download_param'] + "\">Rechnung herunterladen</a>");
						}
					},
				error: function() {
							$('#child_status').text("Status: Fehler");
						}
		});
		
	});


{% endblock docreadyjs %}



{% block content %}
  <div id="content-main">

    <h1>Abrechnung erstellen</h1>
    
	<br />
  	
  	{% if error %}
		<div class="error">{{error}}</div>
		<br />
	{% endif %}
  	
  	
  	{% for month in month_list %}
  		<h3>{{month.month|date:"F Y"}}</h3>
  		
  		<table class="standard">
  			<thead>
	  			<tr>
	  				<th rowspan="2">Einrichtung</th>
		  			<th colspan="4" class="align-center">Abrechnung</th>
                    <th colspan="4" class="align-center">Freigabe</th>
	  			</tr>
                <tr>
		  			<th class="align-center">Soll</th>
		  			<th class="align-center">Ist</th>
		  			<th class="align-center">Status</th>
		  			<th class="align-center">Aktion</th>
                    <th class="align-center">Soll</th>
		  			<th class="align-center">Ist</th>
		  			<th class="align-center">Status</th>
		  			<th class="align-center">Aktion</th>
	  			</tr>
  			</thead>
  			
  			<tbody>
		  		{% for row in month.fac_list %}
		  		<tr>
		  			<td>{{row.facility.name}}</td>
		  			<td class="align-center">{{row.children}}</td>
		  			<td class="align-center" id="ist-facility-{{month.month|date:"Y-m"}}-{{row.facility.id}}-billing">{{row.invoices}}</td>
		  			<td class="align-center" id="status-facility-{{month.month|date:"Y-m"}}-{{row.facility.id}}-billing">{{row.billing_status}}</td>
		  			<td class="align-center" id="aktion-facility-{{month.month|date:"Y-m"}}-{{row.facility.id}}-billing">
		  				{% if not row.billing_status_code %}
		  					<input type="submit" name="generate_billing" id="facility-{{month.month|date:"Y-m"}}-{{row.facility.id}}" value="Abrechnen">
		  				{% else %}
		  				    {% comment %}
                            <div class="progress" style="width: 50%;">50 %</div>
		  				    {% endcomment %}
		  				{% endif %}
		  			</td>

                    <td class="align-center" id="soll-facility-{{month.month|date:"Y-m"}}-{{row.facility.id}}-release">{{row.invoices}}</td>
                    <td class="align-center" id="ist-facility-{{month.month|date:"Y-m"}}-{{row.facility.id}}-release">{{row.releases}}</td>
                    <td class="align-center" id="status-facility-{{month.month|date:"Y-m"}}-{{row.facility.id}}-release">{{row.release_status}}</td>
                    <td class="align-center" id="aktion-facility-{{month.month|date:"Y-m"}}-{{row.facility.id}}-release">
		  				{% if not row.release_status_code %}
		  					<input type="submit" name="generate_release" id="facility-{{month.month|date:"Y-m"}}-{{row.facility.id}}" value="Freigeben">
		  				{% endif %}
		  			</td>
		  		</tr>
		  		{% endfor %}
	  		</tbody>
	  		
  		</table>

        <span style="font-size:80%; color:#888">
		Durch die Freigabe werden die Rechnungen für den Abruf im Kundenbereich freigegeben.<br />
        Außerdem werden die Kunden per E-Mail informiert, dass eine neue Rechnung abrufbar ist.
  	    </span>
  		
  		<br /><br />
  		
  		<table class="standard">
  			<thead>
	  			<tr>
	  				<th>Abrechnung neu erstellen für Kind:</th>
	  			</tr>
	  		</thead>
	  		
	  		<tbody>
	  			<tr>
	  				<td>
	  					<select name="child_id" id="child-{{month.month|date:"Y-m"}}-select">
							{% for child in children %}
								<option value="{{child.id}}">{{child}}</option>
							{% endfor %}
						</select>
						&nbsp;&nbsp;
	  					<input type="submit" name="generate_child" id="child-{{month.month|date:"Y-m"}}" value="Neu erstellen">
	  				</td>
	  			</tr>
	  			<tr>
	  				<td id="child_status">
	  				Status:
	  				</td>
	  			</tr>
	  			
	  		</tbody>
	  		
  		</table>
  		
  		<br /><br />
  		
  	{% endfor %}
	
	<hr size="1" />
	
	<span style="font-size:80%; color:#888">
		Soll - Anzahl der Kinder, die an mind. einem Essen teilgenommen haben<br />
  		Ist &nbsp;- Anzahl erstellter Rechnungen
  	</span>
    
  </div>
{% endblock %}
