{% extends "admin_copies/change_list.html" %}
{% load i18n %}
{% load url from future %}
{% load staticfiles %}

{% block content %}
  <div id="content-main">

    <h1>Monatsstatistik</h1>
    
    <br />

    <form action="{% url 'kg.views_admin.statistik_index' %}" method="get">
    	{% csrf_token %}
		<table class="invisible">
		<tr>
    	 {% for fieldset in form.fieldsets %}  
     
	         {% for field in fieldset %}
	         	<td>  
	           {% if field.is_hidden %}  
	             {{ field }}  
	           {% else %}  
	         		{{ field.errors }}  
	         		{{ field.label_tag }}  
	         		{{ field }}     
	           {% endif %}
	           </td>  
	         {% endfor %}  
	   {% endfor %}
   		
   		<td><input type="submit" value="Ändern" /></td>
		</tr>
    	</table>
	</form>
    
	<h3>{{date|date:"m/Y"}}</h3>
	
	<table class="standard">
		<thead>
			<tr>
				<th></th>
				{% for mealtime in mealtimes %}
				<th class="align-center" colspan="2">{{mealtime.name}}</th>
				{% endfor %}	
			</tr>
            <tr>
				<th></th>
				{% for mealtime in mealtimes %}
				<th class="align-center">bestellt</th>
                <th class="align-center">ausgegeben</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in csv_list %}
			<tr>
				<td class="align-left"><strong>{{row.facility.name}}</strong></td>
				
				{% for mealtime in row.mealtimes %}
					<td class="align-center">
                    	{% if  mealtime.sum_all > 0 %} {{mealtime.sum_all}} {% else  %} - {% endif %}
                    </td>
                    <td class="align-center">
                    	{% if  mealtime.sum_picked_up > 0 %} {{mealtime.sum_picked_up}} {% else  %} - {% endif %}
                    </td>
				{% endfor %}
			</tr>
			{% endfor %}
			
			<tr style="border-top:2px solid #BBB;">
				<td class="align-left"><strong>Gesamt</strong></td>
				{% for mealtime_totals in accumulus %}
					<td class="align-center">
                        <strong>
                        	{% if  mealtime_totals.all > 0 %} {{mealtime_totals.all}} {% else  %} - {% endif %}
                    	</strong>
                    </td>
                    <td class="align-center">
                        	{% if  mealtime_totals.picked_up > 0 %} {{mealtime_totals.picked_up}} {% else  %} - {% endif %}
                    </td>
				{% endfor %}
			</tr>
			
		</tbody>
	</table>
  
    <h3>Monatsstatistik Detail pro Einrichtung:</h3>
    <form id="month-stats-download" action="{% url 'reports:report_month_stats' %}" method="post">
        {% csrf_token %}
		<div class="form-control">
            <select name="facility" id="id-facility" class="facilities" size="10">
                {% for facility in facilities %}
                <option value="{{ facility.id }}">{{ facility.name }}</option>
                {% endfor %}
            </select>
        </div>
        Von: <input type="text" name="date_from" class="datepicker" value="01.{{date|date:'m.Y'}}" />
        Bis: <input type="text" name="date_to" class="datepicker" value="{{date|date:'d.m.Y'}}" />
        <input type="submit" value="XLSX abrufen" disabled />
    </form>
    <br /><br />
    
  </div>
{% endblock %}

{% block js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/3.3.5/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'datepicker/js/bootstrap-datepicker.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'datepicker/locales/bootstrap-datepicker.de.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
{% endblock %}

{% block docreadyjs %}
    {{ block.super }}
    $('.datepicker').datepicker({format: 'dd.mm.yyyy', weekStart: 1, language: 'de', autoclose: true});
    $('#id-facility').bind('click change', function(e){
        if (this.value != null) {
            $(this).closest('form').find('input[type="submit"]').prop('disabled', false);
        }
    });
{% endblock docreadyjs %}
