<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            ELBLAND Service und Logistik GmbH<br />
            Weinbergstraße 8<br />
            01589 Riesa<br />
        </div>

        <span>E-Mail: Service@elblandkliniken.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
