{% extends "admin_copies/change_form.html" %}

{% block extrahead %}
    {{ block.super }}
    
    <style>
    .field-pin{
        display: none;
    }
    
    #overlay {
       visibility: hidden;
       position: absolute;
       left: 0px;
       top: 0px;
       width:100%;
       height:100%;
       text-align:center;
       z-index: 999;
       background-color:#000;
       opacity:0.5;
    }
    
    #my_prompt {
       position:absolute;
       visibility: hidden;
       width:300px;
       height:100px;
       text-align:center;
       z-index: 1000;
       background-color:#fff;
       left:0;
       right:0;
       top:0;
       bottom:0;
       margin:auto;
       border-radius: 5px;
       -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
       box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
       padding: 0px 0px 10px 0px;
    }
    
    .title{
       color: #fff;
       font-size: 14px;
       padding: 7px;
       background-color:  #448BC9;
       border-radius: 5px 5px 0px 0px;
       margin: 0px 0px 10px 0px;
    }
    
    #my_prompt input{
        border: solid #808080 2px;
        font-size: 17px;
        margin: 0px 0px 10px 0px;
    }
    
    #my_prompt button{
        font-size: 13px;
    }
    </style>
{% endblock %}
    
{% block docreadyjs %}
  {{ block.super }}
  $('#fintsprofile_form').submit(function(e){
      e.preventDefault();
      var form = this;
      var my_promt = '<div id="overlay"></div>';
      my_promt = my_promt + '<div id="my_prompt"><div class="title">Eingeben PIN</div><input type="password" id="fake_pin" value="" /><br/><button id="btn_cancle" type="button">Abbestellen</button><button id="btn_ok" type="submit">OK</button></div>';
      
      $('body').append(my_promt);
      
      $('#btn_cancle').click(function(){
          $('#overlay').remove();
          $('#my_prompt').remove();
          $('#btn_cancle').unbind('click');
      });
      
      $('#btn_ok').click(function(){
          var pin = $('#fake_pin').attr('value');
          $('#id_pin').attr('value', pin);
          
          form.submit();
      });
      
      $('#overlay').css('visibility', 'visible');
      $('#my_prompt').css('visibility', 'visible');
    });
{% endblock %}
