{% extends "admin/base_site.html" %}
{% load i18n %}
{% load simpletags %}
{% load url from future %}


{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css?v={% commit_hash %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.12.0.min.js"></script>
    <script src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
{% endblock js %}

{% block docreadyjs %}

    $('#action_log_content').load('{% url 'kg.views_admin.actionlog_short_list' %}');

	var refreshIdentifier = setInterval(function () {
        $('#action_log_content').load('{% url 'kg.views_admin.actionlog_short_list' %}');
    }, 180000);

    $('#sepaFrstDownloadLink').click(function () {
        setTimeout(function() {
            $('#sepaFrstDownloadAmount').html('0,00 &euro;');
            $('#sepaFrstDownloadLink').contents().unwrap();
        }, 1000);
    });
    
    $('#sepaRcurDownloadLink').click(function () {
        setTimeout(function() {
            $('#sepaRcurDownloadAmount').html('0,00 &euro;');
            $('#sepaRcurDownloadLink').contents().unwrap();
        }, 1000);
    });

{% endblock docreadyjs %}



{% block content %}

    <div id="content-main">

        <br/>

        {%  if perms.kg.create_reports %}
        <div class="module">
            <h2>Aktuelle Bestelllisten</h2>

            {% include "admin/index_block_orderlists.html" %}

        </div>

        <br />

        {% endif %}


        {%  if perms.kg.export_import_pos %}
        <div class="module">
            <h2>Export/Import für Essenausgabe</h2>

            <form action="{% url 'kg.views_api.pull_pos_data' %}" method="post" style="margin:10px;">
                <input type="hidden" name="facility_id" value="all"/>
                <input type="hidden" name="download" value="1"/>
                <input type="submit" value="Export für heute" />

               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="{% url 'kg.views_admin.import_pos_app_data' %}">Daten importieren</a>

            </form>

        </div>

        <br />

        {% endif %}


        {%  if MODULE_PREPAID and PREPAID_SETTINGS.SEPA_DEBIT %}
        <div class="module">
            <h2>Guthaben Verwaltung</h2>
            <div style="padding: 5px;">

                {% if SepaDebits.FRST > 0 %}
                    <div id="sepaFrstContent">
                    <a style="font-weight: bold;"
                       id="sepaFrstDownloadLink"
                       href="{% url 'kg.views_admin.sepa_debit_download' 0 'frst' %}"
                     >Erstlastschriften: <span id="sepaFrstDownloadAmount">{{ SepaDebits.FRST }} &euro; &#x21E9;</span></a>
                {% else %}
                    Erstlastschriften: {{ SepaDebits.FRST }} &euro;
                {% endif %}

                <br />

                {% if SepaDebits.RCUR > 0 %}
                    <a style="font-weight: bold;"
                       id="sepaRcurDownloadLink"
                       href="{% url 'kg.views_admin.sepa_debit_download' 0 'rcur' %}"
                     >Folgelastschriften: <span id="sepaRcurDownloadAmount">{{ SepaDebits.RCUR }} &euro; &#x21E9;</span></a>
                {% else %}
                    Folgelastschriften: {{ SepaDebits.RCUR }} &euro;
                {% endif %}
                <a href="{% url 'admin:kg_sepadebitdownload_changelist' %}" style="margin-left: 10em;">ältere</a>
            </div>

            {%  if perms.kg.add_bankaccounttransaction %}
                <hr />
                <div style="padding: 5px;">
                    <a style="font-weight: bold;" href="/admin/kg/bankaccounttransaction/">Bankkonto-Buchungen</a><br />
                </div>
            {% endif %}


        </div>

        <br />
        {% endif %}


        <div class="module">
                <table width="100%">
                    <caption>Bestellungen / Speisepläne</caption>
                    {%  if perms.kg.add_order or perms.kg.change_order or perms.kg.delete_order %}
                        <tr>
                            <th scope="row"><a href="/admin/kg/order">Bestellungen</a></th>
                        </tr>
                    {% endif %}
                    {%  if OVERLOAD_SITE == 'tommys' or OVERLOAD_SITE == 'm1catering' %}
                        <tr>
                            <th scope="row"><a href="/admin/kg/essenmarken">Essenmarken</a></th>
                        </tr>
                    {% endif %}
                    {%  if perms.menus.add_menu or perms.menus.change_menu or perms.menus.delete_menu %}
                        <tr>
                            <th scope="row"><a href="/admin/menus/menu">Speisepläne</a></th>
                        </tr>
                    {% endif %}
                </table>
        </div>

        <br />

        <div class="module">
                <table width="100%">
                    <caption>{% if CANTEEN_MODE %}Mitarbeiter{% else %}Kunden{% endif %}verwaltung</caption>
                    {%  if perms.kg.add_customer or perms.kg.change_customer or perms.kg.delete_customer %}
                        <tr>
                            <th scope="row"><a href="/admin/kg/customer">{% if CANTEEN_MODE %}Mitarbeiter{% else %}Kunden{% endif %}</a></th>
                        </tr>
                    {% endif %}
                    {%  if perms.kg.add_child or perms.kg.change_child or perms.kg.delete_child %}
                        {% if not CANTEEN_MODE %}
                            <tr>
                                <th scope="row"><a href="/admin/kg/child">Kinder</a></th>
                            </tr>
                        {% elif CANTEEN_MODE and MODULE_TERMINAL %}
                            <tr>
                                <th scope="row"><a href="/admin/kg/child">Chipverwaltung</a></th>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% if MODULE_REDUCTION %}
                        {%  if perms.kg.add_childreduction or perms.kg.change_childreduction or perms.kg.delete_childreduction %}
                            <tr>
                                <th scope="row"><a href="/admin/kg/childreduction">Ermäßigungen</a></th>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% if MODULE_ABSENCE %}
                        {%  if perms.absence.add_absense or perms.absence.change_absence or perms.absence.delete_absence %}
                            <tr>
                                <th scope="row"><a href="/admin/absence/absence">Abwesenheit</a></th>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {%  if MODULE_FLATRATE %}
                        {%  if perms.kg.add_flatrate or perms.kg.change_flatrate or perms.kg.delete_flatrate %}
                            <tr>
                                <th scope="row"><a href="/admin/kg/flatrate">Abonnements</a></th>
                            </tr>
                        {% endif %}
                    {% endif %}
                    {% if not CANTEEN_MODE %}
                        {%  if perms.kg.add_customer or perms.kg.change_customer or perms.kg.delete_customer %}
                            <tr>
                                <th scope="row"><a href="/admin/kg/emailexport">E-Mail-Adressen</a></th>
                            </tr>
                        {% endif %}
                    {% endif %}
                </table>
        </div>

        {%  if OVERLOAD_SITE == 'leibundseele'%}
            {%  if perms.auth.add_user or perms.auth.change_user or perms.auth.delete_user or perms.auth.add_group or perms.auth.change_group or perms.auth.delete_group %}
                <br />
                <div class="module">
                        <table width="100%">
                            <caption>Benutzerverwaltung</caption>
                            {%  if perms.auth.add_user or perms.auth.change_user or perms.auth.delete_user %}
                                <tr>
                                    <th scope="row"><a href="/admin/auth/user">Benutzer</a></th>
                                </tr>
                            {% endif %}
                            {%  if perms.auth.add_group or perms.auth.change_group or perms.auth.delete_group %}
                                <tr>
                                    <th scope="row"><a href="/admin/auth/group">Gruppen</a></th>
                                </tr>
                            {% endif %}
                        </table>
                </div>
            {% endif %}
        {% endif %}


        {% if not PREPAID_SETTINGS.SEPA_DEBIT %}
            {%  if perms.kg.add_bankaccounttransaction or perms.kg.delete_reminder %}
            <br />
            <div class="module">
                    <table width="100%">
                        <caption>Buchhaltung</caption>
                        {% if not MODULE_PREPAID and perms.kg.delete_reminder %}
                        <tr>
                            <th scope="row"><a href="/admin/kg/reminder/?status__exact=0">Mahnungen</a></th>
                        </tr>
                        {% endif %}
                        {%  if perms.kg.add_bankaccounttransaction %}
                        <tr>
                            <th scope="row"><a href="/admin/kg/bankaccounttransaction/">Bankkonto-Buchungen</a></th>
                        </tr>
                        {% endif %}
                    </table>
            </div>
            {% endif %}
        {% endif %}


        {% if MODULE_INVOICE %}
            {%  if perms.kg.view_invoices or perms.kg.create_invoices %}
            <br />
            <div class="module">
                    <table width="100%">
                        <caption>Rechnungen</caption>
                        {%  if perms.kg.view_invoices %}
                        <tr>
                            <th scope="row"><a href="/admin/kg/rechnung">Rechnungen, SEPA, CSV</a></th>
                        </tr>
                        {% endif %}
                        {%  if perms.kg.create_invoices %}
                        <tr>
                            <th scope="row"><a href="/admin/kg/rechnung/abrechnung">Abrechnung erstellen</a></th>
                        </tr>
                        {% endif %}
                    </table>
            </div>
            {% endif %}
        {% endif %}




        {%  if perms.kg.view_statistics %}
        <br />
        <div class="module">
            <table width="100%">
                <caption>Statistiken</caption>
                <tr>
                    <th scope="row"><a href="/admin/kg/statistik">Monatsstatistik</a></th>
                </tr>
                {% if MODULE_REDUCTION %}
                    <tr>
                        <th scope="row"><a href="/admin/kg/statistik/reduction">Ermäßigte Essen</a></th>
                    </tr>
                {% endif %}
            </table>
        </div>
        {%  endif %}


        {%  if perms.kg.create_backup %}
        <br />
        <div class="module">
            <table width="100%">
                <caption>Backup / Export nach Excel</caption>
                <tr>
                    <th scope="row"><a href="/admin/kg/backup">Backup</a></th>
                </tr>
            </table>
        </div>
        {%  endif %}


        <br />
        <hr />
        <br />


        <div class="module">
                <table width="100%">
                    <caption>Konfiguration</caption>
                    {%  if perms.menus.add_allergen or perms.menus.change_allergen or perms.menus.delete_allergen %}
                    <tr>
                        <th scope="row"><a href="/admin/menus/allergen/">Allergene</a></th>
                    </tr>
                    {% endif %}
                    {%  if perms.kg.add_facility or perms.kg.change_facility or perms.kg.delete_facility %}
                        <tr>
                            <th scope="row"><a href="/admin/kg/facility">Einrichtungen</a></th>
                        </tr>
                    {% endif %}
                    {%  if perms.kg.add_reduction or perms.kg.change_reduction or perms.kg.delete_reduction %}
                        <tr>
                            <th scope="row"><a href="/admin/kg/reduction">Ermäßigungen</a></th>
                        </tr>
                    {% endif %}
                    {%  if perms.menus.add_meal or perms.menus.change_meal or perms.menus.delete_meal %}
                        <tr>
                            <th scope="row"><a href="/admin/menus/meal/">Essensangebote</a></th>
                        </tr>
                    {% endif %}
                    {%  if perms.kg.add_holiday or perms.kg.change_holiday or perms.kg.delete_holiday %}
                        <tr>
                            <th scope="row"><a href="/admin/kg/holiday">Ferien</a></th>
                        </tr>
                    {% endif %}
                    {%  if perms.menus.add_mealplan or perms.menus.change_mealplan or perms.menus.delete_mealplan %}
                        <tr>
                            <th scope="row"><a href="/admin/menus/mealplan/">Speisepläne</a></th>
                        </tr>
                    {% endif %}
                    {%  if perms.kg.add_paytype or perms.kg.change_paytype or perms.kg.delete_paytype %}
                        <tr>
                            <th scope="row"><a href="/admin/kg/paytype">Zahlungsarten</a></th>
                        </tr>
                    {% endif %}
                    {%  if perms.flatpages.add_flatpage or perms.flatpages.change_flatpage or perms.flatpages.delete_flatpage %}
                        <tr>
                            <th scope="row"><a href="/admin/flatpages/flatpage">Statische Seiten</a></th>
                        </tr>
                    {% endif %}
                    {%  if perms.menus.add_additional or perms.menus.change_additional or perms.menus.delete_additional %}
                        <tr>
                            <th scope="row"><a href="/admin/menus/additional/">Zusatzstoffe</a></th>
                        </tr>
                    {% endif %}
                    {% comment %}
                    {% if perms.kg.add_bankaccounttransaction %}
                        <tr>
                            <th scope="row"><a href="{% url 'admin:bank_transactions_fintsprofile_changelist' %}">Bankkonten</a></th>
                        </tr>
                    {% endif %}
                    {% endcomment %}
                </table>
        </div>

        {%  if perms.kg.use_mailtest %}
        <br />
        <hr />
        <br />

        <div class="module">
                <table width="100%">
                    <caption>Sonstiges</caption>
                    <tr>
                        <th scope="row"><a href="/admin/kg/mailtest">E-Mail Test</a></th>
                    </tr>
                </table>
        </div>
        {% endif %}

    </div>


    {%  if perms.kg.add_actionlog or perms.kg.change_actionlog %}
    <br />
    <div id="content-related">
        <div class="module" id="recent-actions-module">
            <h2>Kürzliche Aktionen</h2>

            <div id="action_log_content"></div>


        </div>

    </div>
    {% endif %}

{% endblock %}
