{% load simpletags %}

<p>
    Gläubiger-Identifikationsnummer: {% sepa_context 'SEPA_CREDITOR_ID' %}<br />
    Mandatsreferenz: {% if sepa_mandate %}{{ sepa_mandate.mandate_id }}{% else %}Wird nach dem Speichern angezeigt{% endif %}
    {% if sepa_mandate %}<br />Bei Änderung der Kontodaten wird Ihnen eine neue Mandatsreferenz zugeteilt. Diese wird nach dem Speichern in Ihrem Kundenbereich angezeigt.{% endif %}
</p>
<p>
    Ich ermächtige "{% sepa_context 'SEPA_FORM_COMPANY_LONG' %}", Zahlungen von meinem Konto mittels Lastschrift einzuziehen.
    Zugleich weise ich mein Kreditinstitut an, die von "{% sepa_context 'SEPA_FORM_COMPANY_SHORT' %}" auf mein Konto gezogenen Lastschriften einzulösen.<br />
    Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.
</p>
