{% load fieldtags %}
{% load url from future %}

{% if only_form != 'yes' %}
    {% csrf_token %}
{% endif %}
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        Speichern fehlgeschlagen. Bitte korrigieren Sie die markierten Felder!
    </div>
    {% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
    {% endif %}
{% endif %}

{% for fieldset in form.fieldsets %}
    {% if not exclude or fieldset.name not in exclude %}
        <div class="panel panel-default {{ fieldset.classes }}">
            {% if fieldset.legend %}
                <div class="panel-heading">{{ fieldset.legend }}</div>
            {% endif %}

            <div class="panel-body">
                {% if fieldset.description %}
                    <p class="description">{{ fieldset.description }}</p>
                {% endif %}

                {% for field in fieldset %}
                    {% if field.is_hidden %}
                        {{ field }}
                    {% else %}
                        {% if field|widget_type == "CheckboxInput" %}
                            <div class="form-group {% if field.errors %} has-error{% endif %}" >
                                {{ field }} <span class="agb">Ich bestätige, die <a href="/agb/">Allgemeinen Geschäftsbedingungen</a> zur Kenntnis genommen zu haben und akzeptiere diese.</span>
                            </div>
                        {% else %}

                            <div class="form-group {% if field.errors %} has-error{% endif %}" >
                                <label for="id_{{ field.name }}" class="control-label">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
                                <div class="field-errors">{{ field.errors }}</div>
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endfor %}
{% if only_form != 'yes' %}
    <button type="submit" class="btn btn-default" name="cancel" value="1">Abbrechen</button>
    <button type="submit" class="btn btn-primary">Speichern</button>
{% endif %}
