<div class="actions">
    {% if user.is_staff %}
    <a class="toggle btn btn-default btn-lg" href="{% url admin_index %}">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </a>
    {% elif user.is_authenticated %}
    <button class="toggle for-navigation btn btn-default btn-lg">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </button>
    {% endif %}

    <div class="header-h1"><a class="logo" href="/">Schulmenüplaner Demosystem</a></div>

    <button class="toggle for-auth btn btn-default btn-lg">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </button>
</div>
