{% if menus %}
<h4>Aktuelle Speisepläne:</h4>

<div class="big_view">
    <ul class="nav nav-pills nav">
    {% for week in weeks %}
    	<li{% if week.week == selected %} class="active"{% endif %}>
    		<a href="javascript:;" id="tab_{{week.week}}">
    			{{ week.days.0|date:"d.m." }} bis {{ week.days.4|date:"d.m.Y" }}
    		</a>
    	</li>
    {% endfor %}
    </ul>

    {% for menu in menus %}
    	<div id="tabbed_content_{{menu.week}}">
    		<br />
            <div class="panel panel-default">
                <div class="panel-heading">Aktuelle Speisepläne</div>
                <div class="panel-body">
        	        {{menu.menu_html}}
                </div>
            </div>
        </div>
    {% endfor %}

    <div style="padding-top: 1em;">
        <a href="{% url kg.views_index.menue_print %}" class="link">Aktuellen Speiseplan drucken</a>
    </div>
</div>

<div class="small_view">
    <div class="child-switch switch">
        <a class="left glyphicon glyphicon-chevron-left" href="#">&nbsp;</a>
        <a class="right glyphicon glyphicon-chevron-right" href="#">&nbsp;</a>

        {% for week in weeks %}
            <div id="child_{{ forloop.counter }}" class="child item{% if not forloop.first %} hidden{% endif %}">{{ week.days.0|date:"d.m." }} bis {{ week.days.4|date:"d.m.Y" }}</div>
        {% endfor %}
    </div><!-- /.week-switch -->

    {% for menu in menus %}
        <div id="child_menu_{{ forloop.counter }}" class="{% if not forloop.first %} hidden{% endif %}">
            {{menu.small_view_menu_html}}
        </div>
    {% endfor %}
</div>
{% endif %}
