<div class="panel panel-default">
  <div class="panel-heading registration-panel-heading">Noch kein Kunde bei uns?</div>
    <div class="panel-body">
    <p>Werden Sie jetzt Kunde.</p>
    <p><a href="/registrierung/neukunde/">Zur Anmeldung für Neukunden</a></p>
  </div>
</div>
