{% load kg_context_tags %}
{% get_site_context as site %}
{% get_site_overload_content_dir as site_overload_content_dir %}

<!DOCTYPE html>
<html>
<head>
    <title>{%block title%}{%endblock%}</title>
    <style type="text/css">
    {% block style %}
        @page {
            size: A4;
            margin: 20mm 20mm 60mm 25mm;
            padding: 0;

            @bottom-right-corner {
                content: "Seite " counter(page) " von " counter(pages);
                font-size: 7pt;
                padding: 1em;
                text-align: right;
                vertical-align: bottom;
            }

        }

        @page :first {
            margin-top: 100mm;
        }

        .header-top {
            position: absolute;
            top: -70mm;
        }

        .header-right {
            position: absolute;
            top: -90mm;
            left: 135mm;
            margin-right: -10mm;
        }

        .return-address {
            position: absolute;
            top: -55mm;
            left: 0;
            font-size: 6pt;
            line-height: 1.1em;
        }

        .address {
            position: absolute;
            top: -45mm;
            left: 0;
            font-size: 10pt;
            line-height: 1.3em;
        }

        body { font-family: Arial, Verdana, Helvetica, sans-serif;
               font-size: 9pt;
               line-height: 1.3em;
               padding: 0;
               margin: 0;
        }

        .footer {
            position: fixed;
            margin-bottom: -50mm;
            bottom: 0;
            left: -6mm;
            right: 0;
            padding: 0;
            font-size: 7pt;
            line-height: 1.2em;
        }

        table { border-collapse: collapse; }
        td { padding: 0; margin: 0; }

        .font-sm { font-size: 8pt; }
        .font-xs { font-size: 7pt; }
        .line-height-xs { line-height: 1.3em; }
        .font-header { font-size: 20pt;}

        .strong {font-weight:bold;}
        .left {text-align: left;}
        .center {text-align: center;}
        .right {text-align: right;}
        .top {vertical-align: top;}

        .bt1 {border-color: #000; border-top-width: 1px; border-top-style: solid;}
        .bb1 {border-color: #000; border-bottom-width: 1px; border-bottom-style: solid;}
        .bb2 {border-color: #000; border-bottom-width: 2px; border-bottom-style: solid;}
        .pt1 {padding-top:1mm}
        .pr1 {padding-right:1mm}

        .w1 {width:1mm;}
        .w5 {width:5mm;}
        .w10 {width:10mm;}
        .w15 {width:15mm;}
        .w20 {width:20mm;}
        .w25 {width:25mm;}
        .w30 {width:30mm;}
        .w35 {width:35mm;}
        .w40 {width:40mm;}
        .w50 {width:50mm;}
        .w60 {width:60mm;}
        .w80 {width:80mm;}
        .w100 {width:100mm;}

    {% endblock %}
  </style>
</head>
<body>


  <div class="header-right">
    {% block header-right-top %}
        <div class="center">
            <img src="file://{{ site_overload_content_dir }}/logo_pdf.png" />
            <br />
            <div class="left">
            Staatlich anerkannte<br />
            Regionale Ganztagsschule<br />
            für individuelles und<br />
            berufsrelevantes Lernen<br />
            mit Grundschule und Hort
            </div>
        </div>
    {% endblock header-right-top %}
    <br /><br /><br /><br /><br />
    {% block header-right-bottom %}{% endblock header-right-bottom %}
  </div>

  <div class="return-address">
      {% block return-address %}Schulförderverein Dettmannsdorf e.V. – Schulstraße 8 – 18334 Dettmannsdorf<br />Evangelischer Träger für frühkindliche Bildung und Schule{% endblock return-address %}
  </div>

  <div class="address">
      {% block address %}
          Anschrift
      {% endblock address %}
  </div>

  <div class="content">
    {% block content %}{% endblock content %}
  </div>
   	
	<div class="footer">
        {% block footer %}
            <table style="width: 100%">
              <tbody>
                <tr>
                     <td class="top" style="width: 4.8cm;">
                         <span class="strong">Evangelische Schule Dettmannsdorf</span><br />
                         Schulstraße 8, 18334 Dettmannsdorf<br />
                         Dr. M.-D. Queren/ Schulleiterin<br />
                         Fon: 038228-234<br />
                         Fax: 038228-61400<br />
                         vorstand@schule-dettmannsdorf.de<br />
                         www.schule-dettmannsdorf.de
                    </td>
                    <td class="top" style="width: 4.8cm;">
                        <br />
                        Bank für Sozialwirtschaft AG Berlin<br />
                        IBAN: DE52 1002 0500 0003 8896 00<br />
                        BIC: BFSWDE33BER<br />
                        <br />
                        Finanzamt Ribnitz-Damgarten<br />
                        Steuer-Nummer: 081/141/01851
                    </td>
                    <td class="top">
                        <span class="strong">Schulträger: Schulförderverein Dettmannsdorf e.V.</span><br />
                        Evangelischer Träger für frühkindliche Bildung und Schule<br />
                        Schulstraße 8, 18334 Dettmannsdorf<br />
                        Stefan Schmidt/ Vereinsvorsitzender, Klara Haack/ Kassenwart<br />
                        <br />
                        vorstand@schule-dettmannsdorf.de<br />
                        Eingetragen im Vereinsregister Amtsgericht Stralsund, Nr. VR 3542
                    </td>
                </tr>
              </tbody>
            </table>
        {% endblock footer %}
	</div>

</body>
</html>
