<table>
	<tbody>
	<tr><td class="extrasmall"><br />Gemeinde Ostseeheilbad Zingst, Hanshäger Str. 1, 18374 Zingst</td></tr>

	<tr>
		<td class="address">
            <br />
			{{customer.title}}<br />
			{% if customer.surname %}{{customer.surname}} {% endif %}{{customer.name}}<br />
			{{customer.street}}<br />
			{{customer.zip_code}} {{customer.city}}<br />
			<br />
			<br />
			<br />
			<br />
			<br />
		</td>
	</tr>


    <tr>
		<td class="address strong">
            {%  if reminder.type == 1 %}
                Zahlungserinnerung / 1. Mahnung
            {% endif %}
            {%  if reminder.type == 2 %}
                2. Mahnung
            {% endif %}
            {%  if reminder.type == 3 %}
                3. Mahnung
            {% endif %}
            <br /><br />
        </td>
	</tr>
	
	
	<tr>
		<td>
            Sehr geehrte{% if customer.title == "Herr" %}r{% endif %} {{customer.title}} {{customer.name}},
			<br /><br />
            {%  if reminder.type == 1 %}
                wir haben festgestellt, dass Sie bisher nicht alle unsere Rechnungen beglichen haben.
                Sicherlich haben Sie nur übersehen, diese rechtzeitig zu bezahlen.
                <br /><br />
			    Folgender Übersicht können Sie entnehmen, welche Beträge noch offen sind:
            {% endif %}
            {%  if reminder.type == 2 %}
                wir haben Sie bereits mit dem Schreiben vom {{ last_reminder.create_date|date:'d.m.Y' }} daran erinnert, dass Sie noch nicht alle unsere Rechnungen beglichen haben.
                <br /><br />
			    Folgender Übersicht können Sie entnehmen, welche Beträge noch offen sind:
            {% endif %}
            {%  if reminder.type == 3 %}
                wir haben trotz unserer Mahnung mit Fristsetzung vom {{ last_reminder.create_date|date:'d.m.Y' }} festgestellt, dass weiterhin folgende Beträge offen stehen:
            {% endif %}

		</td>
	</tr>
	
	<tr>
		<td>

			<br />

			<table>
				<tbody>
                <tr>
					<td class="strong">Art der Forderung</td>
					<td class="w1"></td>
					<td class="w2 strong right pr1">Betrag</td>
				</tr>
				{% for row in data %}
				<tr>
					<td {% if forloop.first %}class="pt1 bt1"{% endif %}>{{row.description}}</td>
					<td class="w1 right{% if forloop.first %} pt1 bt1{% endif %}"></td>
					<td class="w2 right pr1{% if forloop.first %} pt1 bt1{% endif %}">{{row.amount|floatformat:2}} €</td>
				</tr>
				{% endfor %}
                {% if reminder_fee > 0 %}
                <tr>
					<td class="pt1 bt1">Summe der offenen Beträge</td>
					<td class="w1 right pt1 bt1"></td>
					<td class="w2 right pr1 pt1 bt1">{{ subtotal|floatformat:2 }} €</td>
				</tr>
                <tr>
					<td>Mahnkosten</td>
					<td class="w1 right"></td>
					<td class="w2 right pr1">{{ reminder_fee|floatformat:2 }} €</td>
				</tr>
                {% endif %}
				<tr>
					<td class="strong right pt1 bt1 bb2">Gesamtbetrag</td>
					<td class="w1 right strong pt1 bt1 bb2"></td>
					<td class="w2 right strong pr1 pt1 bt1 bb2">{{ reminder.total|floatformat:2 }} €</td>
				</tr>
				</tbody>
			</table>

		</td>
	</tr>

	<tr>
		<td>
			<br/>
			<p>
                {% if reminder.type == 1 %}
			        Bitte überweisen Sie den Gesamtbetrag in Höhe von <span class="strong">{{ reminder.total|floatformat:2 }} Euro</span>
                    bis zum <span class="strong">{{ reminder.pay_until|date:'d.m.Y' }}</span> auf unten genanntes Konto.
                {% endif %}
                {% if reminder.type == 2 %}
                    Wir konnten trotz der letzten Erinnerung bisher keinen Zahlungseingang verbuchen.<br />
                    Wir bitten Sie deshalb erneut, den Gesamtbetrag in Höhe von <span class="strong">{{ reminder.total|floatformat:2 }} Euro</span>
                    bis zum <span class="strong">{{ reminder.pay_until|date:'d.m.Y' }}</span> auf unten genanntes Konto zu überweisen.
                {% endif %}
                {% if reminder.type == 3 %}
                    Bitte überweisen Sie den Gesamtbetrag in Höhe von <span class="strong">{{ reminder.total|floatformat:2 }} Euro</span> sofort und ohne weitere Verzögerungen auf das angegebene Konto.<br />
                    Wenn der Betrag nicht binnen 5 Tagen eingegangen ist, werden wir rechtliche Schritte einleiten.
                {% endif %}
            </p>
            <p>
                Geben Sie bitte folgenden Verwendungszweck an: <span class="strong">{{ reminder.number }} {{customer.name}}{% if customer.surname %}, {{customer.surname}}{% endif %}</span>
			</p>
            {% if reminder_fee %}
            <p>
                Sollten Sie die aufgeführten Beträge zwischenzeitlich überwiesen haben, gleichen Sie bitte noch die angefallenen Mahnkosten aus.
            </p>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            <br />
			<p>Mit freundlichen Grüßen<br />
			Gemeinde Ostseeheilbad Zingst</p>
		</td>
	</tr>

	</tbody>
</table>
<pdf:nextpage>