<table>
	<tbody>
	<tr><td class="extrasmall"><br />Gemeinde Ostseeheilbad Zingst, Hanshäger Str. 1, 18374 Zingst</td></tr>
	
	<tr>
		<td>
            <br />
			{{invoice.customer.title}}<br />
			{% if invoice.customer.surname %}{{invoice.customer.surname}} {% endif %}{{invoice.customer.name}}<br />
			{{invoice.customer.street}}<br />
			{{invoice.customer.zip_code}} {{invoice.customer.city}}<br />
			<br />
			<br />
			<br />
			<br />
            <br />
		</td>
	</tr>

    <tr>
		<td class="strong">Rechnung für {{invoice.creation_date|date:"F"}} {{invoice.creation_date|date:"Y"}}<br /></td>
    </tr>

	
	<tr>
		<td>
			<table width="120mm">
                <tr>
                    <td class="w4">Kundennummer:&nbsp;&nbsp;</td>
                    <td>{{invoice.child.cust_nbr}}</td>
                </tr>
				<tr>
                    <td class="w4">Rechnungsnummer:&nbsp;&nbsp;</td>
                    <td>{{invoice.invoice_number}}</td>
                </tr>
                <tr>
                    <td class="w4 top">Essenabrechnung:</td>
                    <td>{{invoice.creation_date|date:"m"}} / {{invoice.creation_date|date:"Y"}} für {{invoice.child.surname}} {{invoice.child.name}}
                    </td>
                </tr>
            </table>
		</td>
	</tr>
	
	
	<tr>
		<td>
			<br />
			Im Zeitraum vom {{invoice.from_date|date:"d.m.Y"}} bis {{invoice.to_date|date:"d.m.Y"}} hat {{invoice.child.surname}} {{invoice.child.name}} wie
			folgt an der Essensversorgung teilgenommen:		
		</td>
	</tr>
	
	<tr>
		<td>

			<br /><br />

			<table>
				<tbody>
				{% for row in invoice.data %}
				<tr>
					<td class="w1 right top">{{row.number}} x&nbsp;&nbsp;&nbsp;</td>
					<td class="w6 top">{{row.text}}{% if row.reduction %} (Ermäßigung){%endif%}</td>
					<td class="w1 top">{{ row.separator }}</td>
					<td class="w1 right top">{{row.single_price|floatformat:2}} {% if row.single_price %}€{% endif %}</td>
					<td class="w1 right top">=</td>
					<td class="w2 right top pr1">{{row.sum_price|floatformat:2}} €</td>
				</tr>
				{% endfor %}
                {% if INVOICE_SHOW_TAX %}
				<tr>
					<td colspan="4" class="right pt1 bt1">Enthaltene MwSt. ({{ TAX_RATE }}%)</td>
					<td class="w1 right pt1 bt1">=</td>
					<td class="w2 right pt1 pr1 bt1">{{invoice.tax|floatformat:2}} €</td>
				</tr>
                {% endif %}
				<tr>
					<td colspan="4" class="strong right pt1 bt1 bb2">Gesamtbetrag</td>
					<td class="w1 right strong pt1 bt1 bb2">=</td>
					<td class="w2 right strong pt1 pr1 bt1 bb2">{{invoice.total|floatformat:2}} €</td>
				</tr>
				</tbody>
			</table>
            <br />
		</td>
	</tr>

    <tr>
        <td>
            <br />
            {% if  invoice.total <= 0 %}
                Die Rechnung wurde durch Ihr bestehendes Guthaben ausgeglichen.<br />
                {% if invoice.total < 0 %}
                    Das verbleibende <strong>Guthaben</strong> in Höhe von <strong>{{invoice.total|floatformat:2|slice:"1:"}} Euro</strong> wird mit zukünftigen Rechnungen verrechnet.
                {% endif %}
            {% else %}
                {% if invoice.pay_type == "INVOICE" %}
                    Bitte überweisen Sie den Gesamtbetrag von <strong>{{ invoice.total|floatformat:2 }} Euro</strong> bis zum <strong>{{ invoice.pay_until|date:'d.m.Y' }}</strong> auf unten genanntes Konto.<br />
                    <span class="strong">Geben Sie bitte folgenden Verwendungszweck an: {{invoice.customer.extra_attribute}} {{invoice.child.surname}} {{invoice.child.name}}</span>
                {% endif %}
                {% if  invoice.pay_type == "DEBIT" %}
                    Den zu zahlenden Betrag von <strong>{{ invoice.total|floatformat:2 }} Euro</strong> buchen wir am <strong>{{ invoice.pay_until|date:'d.m.Y' }}</strong> von Ihrem Konto
                    IBAN {{ invoice.bank_account_iban }} unter Verwendung der Gläubiger-ID DE66GVZ00000328678 ab. Das Mandat dazu führen wir unter der Nummer {{ invoice.sepa_mandate_id }}.<br />
                    <br />
                    Bitte sorgen Sie für ausreichende Deckung, da wir Ihnen Kosten durch eine etwaige Rücklastschrift in Rechnung stellen.
                {% endif %}
                {% if invoice.pay_type == "PREPAID" %}
                    Zahlung per Vorkasse erhalten
                {% endif %}
                {% if  invoice.pay_type != "INVOICE" and invoice.pay_type != "DEBIT" and invoice.pay_type != "PREPAID" %}
                    Bitte zahlen Sie den fälligen Gesamtbetrag von <strong>{{ invoice.total|floatformat:2 }} Euro</strong> bis zum <strong>{{ invoice.pay_until|date:'d.m.Y' }}</strong>.
                {% endif %}
            {% endif %}
			<br />
        </td>
    </tr>
    <tr>
        <td>
            <br />
            <p>
                Mit freundlichen Grüßen<br />
			    Gemeinde Ostseeheilbad Zingst
            </p>
        </td>
    </tr>

	</tbody>
</table>
<pdf:nextpage>