.header-h1 {margin-top: 10px;}
.header-h1 a, .header-h1 a:visited, .header-h1 a:focus, .header-h1 a:hover, .header-h1 a:active {color: #000000; text-decoration: none; background: none;}
.header .logo img {width: 90px;}

div.actions {padding-bottom: 5px; border-bottom: 1px solid #000000;}


.left-block {width: 25%;}


@media screen and (max-width: 900px) {


}

@media screen and (max-width: 750px) {


}


@media screen and (max-width: 450px) {

    div.actions {border-bottom: 0;}
    .header-h1 {margin-top: 5px;}
    .header .logo {text-align: center;}
    .header .logo img {width: 70px;}

}