<div class="footer">
    <div class="block contacts">
        <div class="left-block">
            <span>Café Cupedia</span><br />
            <span>Christina Koch</span>
        </div>

        <span>Dorfstr. 15</span><br/>
        <span>24229 Dänischenhagen</span><br/>
        <span>Telefon: 04346 361 99 88</span><br/>
        <span>E-Mail: info@cafe-cupedia.de</span>
    </div>

    <div class="block system">
        <div class="left-block">
            <a href="/hilfe/" class="highlighted">Hilfe</a><br/>
            <a href="/impressum/" class="highlighted">Impressum</a><br/>
            <a href="/datenschutzerklaerung/" class="highlighted">Datenschutzerklärung</a><br/>
        </div>

        <div class="block">
            <span>Realisierung durch:</span><br/>
            <a href="http://schulmenueplaner.de">schulmenueplaner.de</a>
        </div>
    </div>
    <br class="clear"/>
</div>
