<div class="panel panel-default">
    <div class="panel-heading">Guthaben aufladen per Überweisung</div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td>Kontoinhaber:</td>
                    <td>Stadt Jöhstadt</td>
                </tr>
                <tr>
                    <td>IBAN:</td>
                    <td>
                        <span class="number-part">DE68</span>
                        <span class="number-part">1203</span>
                        <span class="number-part">0000</span>
                        <span class="number-part">0001</span>
                        <span class="number-part">4087</span>
                        <span class="number-part">07</span>
                    </td>
                </tr>
                <tr>
                    <td>BIC:</td>
                    <td>BYLADEM1001</td></tr>
                <tr>
                    <td>Verwendungszweck:</td>
                    <td>{{ bank_transfer_purpose }}</td>
                </tr>
            </tbody>
        </table>
        <i>Bitte achten Sie unbedingt darauf, den hier angegebenen Verwendungszweck zu verwenden.</i>
    </div>
</div>



