{% load i18n %}
{% load admin_extras %}
{% load staticfiles %}
{% load kg_context_tags %}

{% get_site_context as site %}
{% get_current_language as LANGUAGE_CODE %}
<html>
<head>
  <title>Speiseplan&nbsp;{{ mealplan.name }}</title>
  <style type="text/css">
    @page {
        size: A4 landscape;
        margin: 1cm;

        @bottom-left {
            content: 'Gedruckt am: {% now "d.m.Y H:i:s" %} Uhr';
            font-size: 7pt;
            font-family: sans-serif;
            padding-left: 10px;
        }
    }
    body {
        margin: 0cm;
        font-family: sans-serif;
        font-size: 12px;
        width: 100%;
    }
    table.table-bordered {
      border: 1px solid #aaa;
      border-spacing: 0;
      border-collapse: collapse;
    }
    table.table-bordered th {
      padding: 3mm 2mm;
      text-align: center;
    }
    table.table-bordered th,
    table.table-bordered td {
      font-size: 12px; 
      border-right: 1px solid #aaa;
      border-top: 1px solid #aaa;
    }
    table#menu-table {width: 100%}
    table#menu-table td.meal {border-bottom: 0;}
    table#menu-table td.mealinfo {border-top: 0;}
    td.offer, th.offer {width: 15%; padding: 2mm; background-color: #ddd;}
    td:not(.offer), th:not(.offer) {
        width: {{ day_cell_width }}%;
        vertical-align: top;
    }
    .meal {padding: 2mm; }
    .meal > p {padding: 0; margin: 0;}
    .mealinfo > div {padding: 2mm; color: #888; font-size: 0.75em;}
    .extras {border-top: 1px solid #ccc;}
    .menu-limits {border-top: 1px solid #ccc;}
    .date-short {font-weight: normal; display: none} 
    .order-info > div {display: inline-block; color: #000}
    .ordered {background-color: #deffdd; clear: both; border-top: 1px solid #ddd;}
    .price {text-align: left; width: 45%;}
    .order-quantity {text-align: right; width: 45%}
    .footer {
      margin-top: 0.2cm;
      font-size: 7pt;
    }
    .footer > div {
      margin-bottom: 3px;
    }
  </style>
</head>
<body>
  <h2 for="id_mealplan" class="control-label">Speiseplan&nbsp;{{ mealplan.name }}</h2>
  <p class="week-time">
    {% if child %}{{ child.surname }} {{ child.name }}, {% endif %}Woche vom {{ week_days.0 }} bis {{ week_days|last }}
  </p>

  <table class="table table-bordered" id="menu-table" cellspacing="0" border="0">
      <thead>
        <tr>
            <th class="offer">&nbsp;</th>
            {% for day in week_days %}
            <th class="text-nowrap date">{{ day|date:"l" }}, {{ day|date:"d.m.y" }}<span class="date-short">{{ day }}</span></th>
            {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for meal in meals %}
          <tr data-meal="{{ meal.id }}">
              <td class="offer" rowspan="2">{{ meal.name }}</td>
              {% for day in week_days %}
                {% date_menu meal day mealplan as menu %}
                {% if menu and not menu.is_preparation and not menu.disabled %}
                <td class="meal">{{ menu.description|safe|linebreaks }}</td>
                {% else %}
                <td class="empty-meal">&nbsp;</td>
                {% endif %}
              {% endfor %}
          </tr>
          <tr data-meal="{{ meal.id }}">
              {% for day in week_days %}
                {% if forloop.counter <= week_days|length %}
                <td class="mealinfo">
                    {% date_menu meal day mealplan as menu %}
                    {% if menu and not menu.is_preparation and not menu.disabled %}
                      {% if menu.additionals.count or menu.allergens.count %}
                      <div class="extras">
                        {% for additional in menu.additionals.all %}
                          {{ additional.name_short }}{% if not forloop.last %},{% else %}{% if menu.allergens.count > 0 %},{% endif %}{% endif %}
                        {% endfor %}
                        {% for allergen in menu.allergens.all %}
                          {{ allergen.name_short }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                        &nbsp;
                      </div>
                      {% else %}
                      <div>&nbsp;</div>
                      {% endif %}
                      {% get_order menu child as order %}
                      {% get_menu_price menu pricegroup as price %}
                      {% if price %}
                      <div class="order-info{% if order.quantity %} ordered{% endif %}">
                        {% if price %}<div class="price">{{ price|floatformat:2 }} &euro;</div>{% endif %}
                        {% if order %}
                        <div class="order-quantity">Bestellt: {{ order.quantity }}</div>
                        {% endif %}
                      </div>
                      {% endif %}
                    {% endif %}
                </td>
                {% endif %}
              {% endfor %}
          </tr>
      {% endfor %}
      </tbody>
  </table>
  <div class="footer">
    <div>{{ site.MENU_SUBTEXT|safe }}</div>
    <div>{{ site.MENU_FOOTER_LINE_1|safe }}</div>
    <div>{{ site.MENU_ADDITIVES|safe }}</div>
  </div>
</body>
</html>
