{% load kg_context_tags %}
{% get_site_context as site %}
{% get_site_overload_content_dir as site_overload_content_dir %}

<!DOCTYPE html>
<html>
<head>
    <title>{%block title%}{%endblock%}</title>
    <style type="text/css">
    {% block style %}
        @page {
            size: A4;
            margin: 2cm 2cm 4cm 2.5cm;
            padding: 0;

            @bottom-right-corner {
                content: counter(page) " / " counter(pages);
                font-size: 7pt;
                padding: 1em;
                text-align: right;
                vertical-align: bottom;
            }

        }

        @page :first {
            margin-top: 10cm;
            margin-right: 1cm;
        }

        .header-top {
            position: absolute;
            left: 11.2cm;
    		top: -9cm;
        }

        .header-right {
            position: absolute;
            left: 13cm;
            top: -5.5cm;

        }

        .return-address {
            position: absolute;
            top: -55mm;
            left: 0;
            font-size: 6pt;
        }

        .address {
            position: absolute;
            top: -45mm;
            left: 0;
            font-size: 10pt;
            line-height: 1.3em;
        }

        body { font-family: Arial, Verdana, Helvetica, sans-serif;
            font-size: 9pt;
            line-height: 1.3em;
            padding: 0;
            margin: 0;
        }

        .footer {
            position: fixed;
            margin-bottom: -35mm;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0;
            font-size: 7pt;
            line-height: 1.2em;
        }

        table { border-collapse: collapse; }
        td { padding: 0; margin: 0; }

        .font-sm { font-size: 8pt; }
        .font-xs { font-size: 7pt; }
        .line-height-xs { line-height: 1.3em; }

        .strong {font-weight:bold;}
        .center {text-align: center;}
        .right {text-align: right;}
        .top {vertical-align: top;}

        .bt1 {border-color: #000; border-top-width: 1px; border-top-style: solid;}
        .bb1 {border-color: #000; border-bottom-width: 1px; border-bottom-style: solid;}
        .bb2 {border-color: #000; border-bottom-width: 2px; border-bottom-style: solid;}
        .pt1 {padding-top:1mm}
        .pr1 {padding-right:1mm}

        .w1 {width:1mm;}
        .w5 {width:5mm;}
        .w10 {width:10mm;}
        .w15 {width:15mm;}
        .w20 {width:20mm;}
        .w25 {width:25mm;}
        .w30 {width:30mm;}
        .w35 {width:35mm;}
        .w40 {width:40mm;}
        .w50 {width:50mm;}
        .w60 {width:60mm;}
        .w80 {width:80mm;}
        .w100 {width:100mm;}

    {% endblock %}
  </style>
</head>
<body>


  <div class="header-top">
    {% block header-top %}
        <img src="file://{{ site_overload_content_dir }}/pdf_logo.png" style="width: 4cm; border:0;" />
    {% endblock header-top %}
  </div>

  <div class="header-right">
    {% block header-right-top %}
        <div class="font-xs line-height-xs">
            Klinik für Onkologie und Orthopädie<br />
            Akademisches Lehrkrankenhaus<br />
            der Philipps-Universität Marburg<br />
            <br />
            <strong>Klinik der<br />
            Deutschen Rentenversicherung Hessen</strong><br />
            <br />
            <br />
            <strong>Verwaltung</strong><br />
            Amöneburger Straße 1-6, 35043 Marburg<br />
            Telefon 06421 295-0<br />
            www.klinik-sonnenblick.de<br />
            <br />
            <br />
            <strong>Ansprechpartner/in:</strong><br />
            Herr Engel<br />
            Telefon 06421 295-340<br />
            Telefax 06421 295-333<br />
            E-Mail frank.engel@drv-hessen.de<br />
            <br />
            <br />
            <strong>Bankverbindung:</strong><br />
            Sparkasse Marburg-Biedenkopf<br />
            Marburg<br />
            IBAN DE 78 5335 0000 0015 0130 01<br />
            BIC HELADEF1MAR<br />
            <br />
            IK 26 97 1208 8<br />
            <br />
            <br />
            <img src="file://{{ site_overload_content_dir }}/pdf_qms_logo.png" style="width: 1.94cm; border:0;" />
        </div>

    {% endblock header-right-top %}
    {% block header-right-bottom %}{% endblock header-right-bottom %}
  </div>

  <div class="return-address">
      {% block return-address %}Klinik Sonnenblick, Amöneburger Straße 1-6, 35043 Marburg{% endblock return-address %}
  </div>

  <div class="address">
      {% block address %}
          Anschrift
      {% endblock address %}
  </div>

  <div class="content">
    {% block content %}{% endblock content %}
  </div>
   	
  <div class="footer">
    {% block footer %}{% endblock footer %}
  </div>

</body>
</html>
