{% extends "admin_copies/change_list.html" %}

{% load url from future %}

{% block extrahead %}
    {{ block.super }}
    
    <style type="text/css" media="screen">
    .frm_item{
        margin: 10px 0px 0px 0px;
    }
    .frm_item label{
        font-size: 14px;
        position: relative;
        top: -3px;
    }
    #overlay {
       visibility: hidden;
       position: fixed;
       left: 0px;
       top: 0px;
       width:100%;
       height:100%;
       text-align:center;
       z-index: 1001;
       background-color:#000;
       opacity:0.5;
    }
    
    #prompt_body{
        height: 330px;
    }
    
    #my_prompt {
       position: fixed;
       visibility: hidden;
       width:600px;
       height:400px;
       text-align:center;
       z-index: 1002;
       background-color:#fff;
       left:0;
       right:0;
       top:0;
       bottom:0;
       margin:auto;
       border-radius: 5px;
       -webkit-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
       -moz-box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
       box-shadow: 0px 0px 24px -5px rgba(0,0,0,0.75);
       padding: 0px 0px 10px 0px;
    }
    
    .title{
       color: #fff;
       font-size: 14px;
       padding: 7px;
       background-color:  #448BC9;
       border-radius: 5px 5px 0px 0px;
       margin: 0px 0px 10px 0px;
    }
    
    #my_prompt input{
        border: solid #808080 2px;
        font-size: 17px;
        margin: 0px 0px 10px 0px;
    }
    
    #my_prompt button{
        font-size: 13px;
    }
    
    #btn_cancel{
        position: absolute;
        top: 4px;
        right: 9px;
        color: #fff;
        font-size: 17px;
        cursor: pointer;
    }
    
    .invisible{
        display: none;
    }
    
    .btn_custom_tab{
        cursor: pointer;
        font-size:15px;
        font-weight: bold;
        margin: 0px 5px;
    }
    
    .btn_custom_tab.selected{
        color: #000;
        text-decoration: underline;
    }
    
    .custom_tab{
        margin: 10px 0px 0px;
    }
    
    #btn_random_password{
        position: relative;
        top: -4px;
    }
    </style>
{% endblock %}

{% block inlinejs %}
  {{ block.super }}
  (function($) {
      function close_event(e){
          $('#overlay').remove();
          $('#my_prompt').remove();
          $('#btn_cancle').unbind('click');
          $('#btn_close').unbind('click');
      }
      
      function set_prompt_body(data){
          $('#prompt_body').html(data);
          $('#btn_close').click(close_event);
          $('#customer_login').submit(submit_login);
          
          $('#btn_basic_login').click(function(){
              $('#toemail').attr('value', '0');
          });
          
          $('#btn_toemail_login').click(function(){
              $('#toemail').attr('value', '1');
          });
          
          try{
              init($);
          }
          catch(err){};
          
      }
      
      function setup_prompt(){
          var my_promt = '<div id="overlay"></div>';
          my_promt = my_promt + '<div id="my_prompt"><div class="title">Login bearbeiten</div><div id="prompt_body"></div><span id="btn_cancel" type="button">X</span></div>';

          $('body').append(my_promt);
          $('#btn_cancel').click(close_event);
          $('#overlay').css('visibility', 'visible');
          $('#my_prompt').css('visibility', 'visible');
      }
      
      function submit_login(e){
          e.preventDefault();
          var id = $('#customer_id').attr('value');
          var username = $('#id_username').attr('value');

          $.post("/admin/customer_login/?id="+id, $('#customer_login').serialize(), function(data){
              // if login created
              if($('<div></div>').append(data).find('.success').length > 0){
                  $('#cl'+id).html(username);
              }
              set_prompt_body(data);
          });
      }
      
      $(document).ready(function($) {
          
          $('a.customer_login').click(function(e){
              e.preventDefault();
              var id = $(this).attr('id').replace('cl', '');
              
              setup_prompt();
              
              var jqxhr = $.get("/admin/customer_login/?id="+id, function(data) {
                  set_prompt_body(data);
              });
          });
      });
  })(django.jQuery);
{% endblock inlinejs %}
