{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% load url from future %}
{% load admin_extras %}
{% load simpletags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block extrastyle %}
    <link href="{{ STATIC_URL }}bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css?v={% commit_hash %}"/>
    {% if cl.formset %}
        <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css?v={% commit_hash %}"/>
    {% endif %}
    {% if cl.formset or action_form %}
        {% url 'admin:jsi18n' as jsi18nurl %}
        <script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
    {% endif %}
    {{ media.css }}
    <!-- Bootstrap -->
    <!-- datetime picker -->
    <link href="{{ STATIC_URL }}datetimepicker/bootstrap-datetimepicker.css?v={% commit_hash %}" rel="stylesheet">
    <!-- custom css -->
    <link href="{{ STATIC_URL }}menu/css/menu.css?v={% commit_hash %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="../../">Start</a>
        &rsaquo;
        <a href="../">
            {{ app_label|capfirst }}
        </a>
        &rsaquo;
        Speisepläne
    </div>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="content-main">

            <div class="starter-template">
                <!-- Meal Modal HTML -->
                {% include "admin/partials/menu_dialog.html" %}
                <div class="mealplan-selector form-group">
                    <form action="" method="GET">
                        <input type="hidden" name="week_num" value="{{ week_num }}"/>
                        <input type="hidden" name="year" value="{{ year }}"/>
                        <label for="id_mealplan" class="control-label">
                            Speiseplan:&nbsp;
                        </label>
                        <select name="mealplan" id="id_mealplan">
                            <option value="" {% if not selected_mealplan %}selected{% endif %}>
                                {% trans "Global" %}
                            </option>
                            {% for mealplan in avail_mealplans %}
                                <option value="{{ mealplan.pk }}"
                                        {% if selected_mealplan.id == mealplan.id %}selected{% endif %}>
                                    {{ mealplan.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                {% include "admin/partials/mealplan_actions.html" %}
                <div id="week-list">
                    <span style="font-weight: bold; font-size: 121%;">KW {{ week_num }}</span>&nbsp;&nbsp;
                    {% if week_num != current_week_num %}
                        <a href="?mealplan={{ selected_mealplan.id }}">aktuelle Woche</a>&nbsp;&nbsp;|&nbsp;
                    {% else %}
                        aktuelle Woche&nbsp;&nbsp;|&nbsp;
                    {% endif %}

                    {% for week in weeks_for_links %}
                        {% if week.week != week_num %}
                            <a href="?year={{ week.year }}&week_num={{ week.week }}{% if selected_mealplan %}&mealplan={{ selected_mealplan.id }}{% endif %}"
                               {% if week.has_preparation %}class="has-preparation" data-toggle="tooltip" data-placement="top" title="{% trans "Dieser Speiseplan hat noch nicht freigegebene Einträge" %}"{% endif %}>
                                KW {{ week.week }}
                            </a>&nbsp;&nbsp;
                        {% else %}
                            <span class="selected-week {% if week.has_preparation %}has-preparation{% endif %}"
                                {% if week.has_preparation %}data-toggle="tooltip" data-placement="top" title="{% trans "Dieser Speiseplan hat noch nicht freigegebene Einträge" %}"{% endif %}>KW {{ week.week }}&nbsp;&nbsp;</span>
                        {%  endif %}
                    {% endfor %}
                </div>
                <table class="table table-bordered" id="menu-table">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        {% for day in week_days %}
                        <th class="text-nowrap day-cell">{{ day }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for meal in meals %}
                        <tr id="meal{{ meal.id }}">
                            <td class="offer" rowspan="2">{{ meal.name }}</td>
                            {% for day in week_days %}
                            {% check_meal_available meal selected_mealplan day as meal_available %}
                            {% if meal_available %}
                                {% date_menu meal day selected_mealplan as menu %}
                                <td id="m{{ meal.id }}{{ day.day }}{{ day.month }}"
                                    class="meal droppable-menu-item {% if menu.is_preparation %}menu-preparation{% endif %} {% if menu.mealplan_id %}specific-mealplan-menu{% endif %}">
                                    {% if menu.mealplan_id %}
                                        <i title="{% blocktrans with name=menu.mealplan.name %}Geändert im Speiseplan {{ name }}{% endblocktrans %}"
                                            data-toggle="tooltip" data-placement="top"
                                            class="glyphicon glyphicon-bookmark text-warning mealplan-menu-sign"></i>
                                    {% endif %}
                                    {% if menu.disabled %}
                                        <i title="{% trans "Dieses Menü ist deaktiviert" %}"
                                            data-toggle="tooltip" data-placement="top"
                                            class="glyphicon glyphicon glyphicon-ban-circle text-danger disabled-menu-sign"></i>
                                    {% endif %}
                                    <a href="#mealModal"
                                        id="{% if menu.is_preparation %}menu-preparation{% else %}menu{% endif %}-{{ menu.id }}"
                                        class="draggable-menu-item"
                                        role="button"
                                        data-toggle="modal"
                                        data-menupreparation="{% if menu.is_preparation %}1{% else %}{% endif %}"
                                        data-id="{{ menu.id }}"
                                        data-mealid="{{ meal.id }}"
                                        data-mealtimeid="{{ meal.mealtime.id }}"
                                        data-mealplanid="{{ selected_mealplan.id }}"
                                        data-date="{{ day.day }}-{{ day.month }}-{{ day.year }}"
                                        data-title="{{ meal.name }}, {{ day }}">
                                        <div style="width: 100%; height: 100%;">
                                            {% if menu %}
                                                {{ menu.description|safe|linebreaks }}
                                            {% else %}
                                                Hinzufügen
                                            {% endif %}
                                        </div>
                                    </a>
                                </td>
                            {% else %}
                                <td class="meal not-available"></td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        <tr>
                        {% for day in week_days %}
                            {% check_meal_available meal selected_mealplan day as meal_available %}
                            {% if meal_available %}
                                <td class="mealinfo">
                                    {% date_menu meal day selected_mealplan as menu %}
                                    <div class="text-muted">
                                        {% if menu %}
                                        <hr />
                                        {% endif %}
                                        {% if menu.additionals.count > 0 %}
                                            {% for additional in menu.additionals.all %}
                                                <span title="{{ additional.name }}">{{ additional.name_short }}</span>{% if not forloop.last %},{% else %}{% if menu.allergens.count > 0 %},{% endif %}{% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        {% if menu.allergens.count > 0 %}
                                            {% for allergen in menu.allergens.all %}
                                                <span title="{{ allergen.name }}">{{ allergen.name_short }}</span>{% if not forloop.last %},{% endif %}
                                            {% endfor %}
                                        {% endif %}
                                        &nbsp;
                                        {% if menu %}
                                            <hr/>
                                            <div class="text-muted {% if not menu.can_be_ordered %} text-center alert-warning{% endif %}">
                                                {% if not menu.can_be_ordered %}
                                                    Nicht bestellbar
                                                {% else %}
                                                    {{ menu.order_timelimit|date:'d.m.y H:i' }} |
                                                    {{ menu.cancel_timelimit|date:'d.m.y H:i' }}
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                            {% else %}
                                <td class="mealinfo not-available"></td>
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% include "admin/partials/mealplan_actions.html" %}
            </div>
    </div>
{% endblock %}

{% block js  %}
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{{ STATIC_URL }}js/jquery-1.12.0.min.js"></script>
  <script src="{{ STATIC_URL }}js/jquery-ui-1.11.4/jquery-ui.min.js"></script>
  <script src="{{ STATIC_URL }}js/validate/1.11.1.min.js"></script>
  {% if 'de' in LANGUAGE_CODE %}
  <script src="{{ STATIC_URL }}js/validate/messages_de-de.js"></script>
  <script src="{{ STATIC_URL }}js/validate/methods_de.js"></script>
  {% endif %}
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ STATIC_URL }}bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}js/bootbox.min.js"></script>
  <script src="{{ STATIC_URL }}moment/moment.min.js"></script>
  <script src="{{ STATIC_URL }}moment/locale/de.js" charset="UTF-8"></script>
  <script src="{{ STATIC_URL }}datetimepicker/bootstrap-datetimepicker.js"></script>
  <script src="{{ STATIC_URL }}typehead/typeahead.bundle.js"></script>
  <script type="text/javascript">{% get_preparing_mealplans json_format=1 as prep_mealplans %}
      var prep_mealplans = {{ prep_mealplans }};
  </script>
  <script src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
  <script src="{{ STATIC_URL }}menu/js/menu.js?v={% commit_hash %}"></script>
{% endblock %}

{% block docreadyjs %}
  // Hide the meal (whole row) when not available for the whole week.
  // CAUTION: This should be revised when mealplan having dynamic days.
  var rows = $('#menu-table tr');
  for (var rid=1; rid<rows.length; rid++) {
    var row = $(rows[rid]);
    if (row.find('td.not-available, td.not-available').length >= 5) {
      row.hide();
    }
  }

  // Show and hide the option for showing prices in exported mealplan PDF
  $('.advanced-action').hover(
    function(event){
      $(this).find('.action-extras').fadeIn();
      event.stopPropagation();
    },
    function(event){
      $(this).find('.action-extras').hide();
    }
  );

  $('.mealplan-actions #pdf-pricegroup').change(function(event){
    $(this).closest('.export-pdf').find('button[name=download-pdf]').click();
  });
{% endblock docreadyjs %}
