{% load i18n %}
{% load url from future %}

<form action="{% url 'reports:report_day' %}" method="get" style="margin:10px;">
    <input type="hidden" name="dayreport" value="1"/>
    <input type="hidden" name="fc" value="all"/>
    <input type="hidden" name="ordered-only" value="1">
    <input type="submit" value="Tagesliste für heute" />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'reports:index' %}">Weitere Listen</a>
</form>




