{% extends "kg/base_kunden.html" %}

{% load url from future %}
{% load my_templatetags %}
{% load i18n %}
{% load form_utils %}

{% block title %} - Abwesenheit melden{% endblock %}

{% block content %}
    <div class="page-header"><h1>Abwesenheit melden</h1></div>
    {% include "kg/partials/messages.html" %}
    <label>{% if object.id %}Abwesenheit ändern{% else %}Erstellen Sie eine neue Abwesenheitsmeldung{% endif %}:</label>
    <form method="post">
      {% include "kg/partials/form.html" %}
    </form>
    <hr />
    <h3 id="absence-list">Gemeldete Abwesenheiten</h3>
    {% if not paginator.count %}
      <div class="well well-sm">Keine</div>
    {% else %}
      {% include "kg/partials/pagination.html" %}
      <form action="" method="post">
      <input type="hidden" name="delete" id="id_delete" value="" />
      {% csrf_token %}
      <table class="table table-striped absence-records">
        <tbody>
          {% for abs in object_list %}
          <tr class="ab-record" data-abs={{ abs.id }}">
            <td>{{ abs.child }}</td>
            <td>{{ abs.date_from|date:"d.m.Y" }} bis {{ abs.date_to|date:"d.m.Y" }}</td>
            <td>{{ abs.notice|truncatechars:40 }}</td>
            <td class="actions">
              {% if abs.editable %}
              <button type="button" class="btn btn-xs btn-default pull-right btn-delete" value="{{ abs.id }}">x</button>
              <a href="{% url 'absence:report' pk=abs.pk  %}" class="btn btn-xs btn-default pull-right"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> bearbeiten</a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </form>
      {% include "kg/partials/pagination.html" %}
    {% endif %}
{% endblock %}

{% block docreadyjs %}
    {% if request.GET.page %}
    $('html, body').animate({
        scrollTop: $("#absence-list").offset().top
    }, 0);
    {% endif %}

    $('.absence-records .actions .btn-delete').click(function(e){
        bootbox.confirm('Wollen Sie die Abwesenheitsmeldung wirklich löschen?', function(result) {
            if (result) {
                $('input#id_delete').val(e.target.value);
                $(e.target).parents('form').submit();
            }
        });
    });
{% endblock docreadyjs %}
