.header-h1 {margin-top: 10px; margin-bottom: 3px;}
.header-h1 a, .header-h1 a:visited, .header-h1 a:focus, .header-h1 a:hover, .header-h1 a:active {color: #dd0f1c; text-decoration: none; background: none;}

div.actions {padding-bottom: 5px; border-bottom: 2px solid #dd0f1c;}

.left-block {width: 25%;}


@media screen and (max-width: 900px) {


}

@media screen and (max-width: 750px) {


}


@media screen and (max-width: 450px) {

    div.actions {border-bottom: 0;}
    .header-h1 {margin-top: 5px; }
    .header .logo {text-align: center;}
    .header .logo img {width: 60%; margin-top: 5px;}

}