{% load simpletags %}
{% load url from future %}
{% load my_templatetags %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% site_context 'SITE_HTML_TITLE' %}{% block title %}{% endblock %}</title>
        {# add your meta tags here #}

        {# Bootstrap #}
        <link href="{{STATIC_URL}}bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        {# Main page style #}
        <link href="{{STATIC_URL}}css/main.css?v={% commit_hash %}" rel="stylesheet">
        {# Site style #}
        <link href="{{STATIC_URL}}css/site.css?v={% commit_hash %}" rel="stylesheet">

        <link href="{{STATIC_URL}}datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet">
        {% block extrastyle %}{% endblock %}
    </head>
    <body>
        <div id="overlay" class="overlay">&nbsp;</div>

        <div class="container-fluid">
            {# Header hold, logo, actions, navigation, loginbox #}

            <div id="header" class="header" {% block header_style %}{% endblock header_style %}>
                {% include "kg/partials/header_actions.html" %}

                {% include "kg/base_login.html" %}

                {% block navigation %}
                  {% if user.is_authenticated %}
                      {% with_setting MODULE_ACCOUNTING as MODULE_ACCOUNTING %}
                      {% with_setting MODULE_PREPAID as MODULE_PREPAID %}
                      {% with_setting MODULE_INVOICE as MODULE_INVOICE %}
                      {% with_setting MODULE_FLATRATE as MODULE_FLATRATE %}
                      {% with_setting MODULE_ABSENCE as MODULE_ABSENCE %}
                      {% with_setting CANTEEN_MODE as CANTEEN_MODE %}
                      {% with_setting PREPAID_SETTINGS as PREPAID_SETTINGS %}
                      {% with_setting OVERLOAD_SITE as OVERLOAD_SITE %}

                      <ul id="nav" role="navigation" class="navbar nav nav-pills navigation">
                          {% if OVERLOAD_SITE != 'sonnenblick' %}
                              <li class="{% active '/kunden/essen/' %}">
                                  <a href="{% url 'kg.views_kunden.essen' %}">Essenbestellung</a>
                              </li>
                          {% endif %}
                          {% if OVERLOAD_SITE == 'somic' %}
                              <li class="{% active '/kunden/brotzeit/' %}">
                              <a href="{% url 'kg.views_kunden.brotzeit' %}">Brotzeitbestellung</a>
                          </li>
                          {% endif %}
                          {% if MODULE_PREPAID %}
                              <li class="{% active '/kunden/guthaben/' %}">
                                  <a href="{% url 'kg.views_kunden.guthaben' %}">Guthaben</a>
                              </li>
                          {% endif %}
                          {% if MODULE_ABSENCE %}
                              <li class="{% active '/kunden/abwesenheit/' %}">
                                  <a href="{% url 'absence:report' %}">Abwesenheit</a>
                              </li>
                          {% endif %}
                          {% if MODULE_INVOICE %}
                              <li class="{% active '/kunden/rechnungen/' %}">
                                  <a href="{% url 'kg.views_kunden.rechnungen' %}">Rechnungen</a>
                              </li>
                          {% endif %}
                          {% if not CANTEEN_MODE %}
                              <li class="{% active '/kunden/kinder/' %}">
                                  <a href="{% url 'kg.views_kunden.kinder' %}">Meine Kinder</a>
                              </li>
                          {% endif %}
                          <li class="{% active '/kunden/profil/' %}{% active '/kunden/passwort/' %}">
                              <a href="{% url 'kg.views_kunden.profil' %}">Meine Daten</a>
                          </li>
                          {%  if MODULE_FLATRATE %}
                              {% if not MODULE_PREPAID or PREPAID_SETTINGS.FLATRATE %}
                                  <li class="{% active '/kunden/abo/' %}">
                                      <a href="{% url 'kg.views_kunden.abo' %}">Abonnement</a>
                                  </li>
                              {% endif %}
                          {% endif %}
                      </ul>
                  {% endif %}
                {% endblock navigation %}
            </div>

            {# Must be in div.content #}
            <div class="content">
                {% block messages %}{% endblock messages %}
                {% block content %}{% endblock content %}
            </div>

            {% include "kg/partials/footer.html" %}
        </div>

        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.12.0.min.js"></script>
        <!-- <script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.16.custom.min.js"></script> -->
        {% block js %}{% endblock %}{# Override for view-specific js libraries to be loaded #}
        <script type="text/javascript">
            //<![CDATA[
                {# Override this block to add functions to bind on document ready. #}
                $(document).ready(function() {
                    {% block docreadyjs %}{% endblock %}
                });
                {# Override this block to add inline js #}
                {% block inlinejs %}{% endblock %}
            //]]>
        </script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{STATIC_URL}}bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{{STATIC_URL}}datepicker/js/bootstrap-datepicker.min.js"></script>
        <script src="{{STATIC_URL}}datepicker/locales/bootstrap-datepicker.de.min.js"></script>
        <script src="{{STATIC_URL}}js/bootbox.min.js"></script>
        <script src="{{STATIC_URL}}js/main.js?v={% commit_hash %}"></script>
    </body>
</html>
