{% extends "kg/base_kunden.html" %}

{% load fieldtags %}
{% load simpletags %}
{% load url from future %}

{% block title %} - SEPA-Lastschriftmandat bearbeiten{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>SEPA-Lastschriftmandat bearbeiten</h1>
    </div>

    {% include "kg/partials/messages.html" %}

	{% if sepa_form.errors %}
        <div class="alert alert-danger" role="alert">Es sind Fehler aufgetreten. Bitte korrigieren Sie die markierten Felder.</div>
	{% endif %}

    <form method="post" action="{% url 'kg.views_kunden.sepa_mandate_edit' %}" class="yform columnar">
        {% with form=sepa_form %}
            {% include "kg/partials/form.html" %}
        {% endwith %}
    </form>
{% endblock %}

