{% extends "kg/base_kunden.html" %}

{% load url from future %}
{% load my_templatetags %}
{% load fieldtags %}
{% load simpletags %}

{% block title %} - Essenbestellung{% endblock %}

{% block content %}
    {% with_setting MODULE_PREPAID as MODULE_PREPAID %}

    <div class="big_view">
        <div class="page-header">
            <h1>Essenbestellung</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">

               <div id="anleitung" style="display:none;">
                   Um ein Essen zu bestellen, klicken Sie bitte auf den jeweiligen "+"-Button. Nach erfolgreicher Bestellung wird das Feld grün und die Anzahl der bestellten Essen wird angezeigt.<br />
                   Um ein Essen abzubestellen, klicken Sie bitte auf den "-"-Button. Nach erfolgreicher Abbestellung wird das Feld wieder weiß und die Anzahl der bestellten Essen wird mit Null angezeigt.<br />
                   Wenn Sie den Mauszeiger für eine Weile auf den "-"-Button bzw. "+"-Button halten, wird Ihnen die Bestell- bzw. Abbestellfrist des jeweiligen Essens angezeigt.
                   {% if MODULE_PREPAID %}
                       <br />Sie können nur Essen bestellen, wenn Sie über genügend Guthaben verfügen.
                   {% endif %}
               </div>

           </div>
        </div>

        <ul class="nav nav-pills nav">
            {% for week in weeks %}
                <li {% if week.week == selected %}class="active"{% endif %}>
                    <a href="{% url 'kg.views_kunden.essen' week.year week.week %}" class="tabnav-menu-tab{{ forloop.counter }}">
                        {{ week.days.0|date:"d.m." }} bis {{ week.days.4|date:"d.m.Y" }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <br class="clear"/>

        {% if not menus %}
            Für den angegebenen Zeitraum liegt noch kein Speiseplan vor.
        {% else %}
            {% for menu in menus %}
                <div class="panel panel-default panel-mealplan">
                    <div class="panel-heading">
                        <span class="childname">{{menu.child}}</span>
                        <span>({{ menu.child.facility.name }}, {{ menu.child.facility_subunit.name }})</span>
                    </div>

                    <div class="panel-body">
                        {{menu.menu_html|safe}}

                        {% if menu.child.facility.is_active %}
                        <div class="mealplan-bottom">
                            {% with menu.child.facility_subunit as subunit %}
                            <div><a href="?pdf=1&child={{ menu.child.id }}" class="btn btn-default">PDF abrufen</a></div>
                            {% endwith %}
                        </div>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}
        {% endif %}

    </div><!-- /.big_view -->

    <div class="small_view">
        <div class="child-switch switch">
            <a class="left glyphicon glyphicon-chevron-left" href="#">&nbsp;</a>
            <a class="right glyphicon glyphicon-chevron-right" href="#">&nbsp;</a>
            {% for menu in menus %}
                <div id="child_{{ menu.child.id }}" class="child item{% if not forloop.first %} hidden{% endif %}">{{menu.child}}</div>
            {% endfor %}
        </div><!-- /.child-switch -->

        <div class="week-switch switch">
            {% with prev_week=weeks|prev_week:selected %}
                {% if prev_week %}
                    <a class="left glyphicon glyphicon-chevron-left" href="{% url 'kg.views_kunden.essen' prev_week.year prev_week.week %}">&nbsp;</a>
                {% else %}
                    <span class="left glyphicon glyphicon-chevron-left">&nbsp;</span>
                {% endif %}
            {% endwith %}

            {% with next_week=weeks|next_week:selected %}
                {% if next_week %}
                    <a class="right glyphicon glyphicon-chevron-right" href="{% url 'kg.views_kunden.essen' next_week.year next_week.week %}">&nbsp;</a>
                {% else %}
                    <span class="right glyphicon glyphicon-chevron-right">&nbsp;</span>
                {% endif %}
            {% endwith %}

            {% with current_week=weeks|selected_week:selected %}
                <div class="week item">{{ current_week.days.0|date:"d.m." }} bis {{ current_week.days.4|date:"d.m.Y" }}</div>
            {% endwith %}
        </div><!-- /.week-switch -->

        {% for menu in menus %}
        <div id="child_menu_{{ menu.child.id }}" class="{% if not forloop.first %} hidden{% endif %} day-meal-list">
            {{menu.small_view_menu_html|safe}}
            {% if child.facility.is_active %}
            <br />
            {% with menu.child.facility_subunit as subunit %}
            <div><a href="?pdf=1&child={{ menu.child.id }}" class="btn btn-default">PDF abrufen</a></div>
            {% endwith %}
            {% endif %}
        </div>
        {% endfor %}
    </div><!-- /.small_view -->
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{{STATIC_URL}}js/customer_ordering.js?v={% commit_hash %}"></script>
{% endblock %}
