{% extends "kg/base_kunden.html" %}

{% load url from future %}

{% block title %} - Keine Bestellung möglich{% endblock %}

{% block content %}


<h1>Keine Bestellung möglich</h1>
<br />


<strong>Sie können zur Zeit keine Bestellungen tätigen.</strong><br />
<br /><br />
{% if suspension_reason %}
    <p>{{ suspension_reason }}</p>
{% endif %}

<br /><br /><br /><br /><br />
{% endblock %}


