{% extends "kg/base_kunden.html" %}

{% load fieldtags %}
{% load url from future %}

{% block title %} - Abonnement ändern{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Abonnement ändern</h1>
    </div>

    {% include "kg/partials/messages.html" %}

    {% if not flatrate_customizable %}
        Bitte rufen Sie uns an bzw. schreiben Sie uns eine E-Mail, um das Abonnement zu ändern.<br />
        <br /><br />
        <a href="{% url 'kg.views_kunden.abo' %}">zurück</a>
    {% else %}

        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Aktivierung eines Abonnements</h4>

                <p>Alle zukünftigen Essen werden gemäß Ihrer Auswahl ab Beginn der nächsten Woche automatisch für Sie bestellt, sobald Sie Ihre Auswahl gespeichert haben.<br />
                   Bitte prüfen Sie nach Aktivierung des Abonnements unter dem Menüpunkt <a href="{% url 'kg.views_kunden.essen' %}">"Essenbestellung"</a> die Bestellungen.<br />
                   Selbstverständlich haben Sie trotz aktiviertem Abonnement weiterhin die Möglichkeit, einzelne Essen wieder abzubestellen. Machen Sie das bitte unter dem Menüpunkt <a href="{% url 'kg.views_kunden.essen' %}">"Essenbestellung"</a>.</p>

                <h4>Deaktivierung eines Abonnements</h4>

                <p>Das Abonnement endet mit Beginn der nächsten Woche.<br />
                   Alle Essen werden entsprechend den von Ihnen abgewählten Tagen abbestellt, sofern die Abbestellfrist nicht überschritten ist.</p>

                {% if is_school %}
                    <h4>Schulferien</h4>
                    <p>Wenn Ihr Kind in die Schule geht, können Sie das Abonnement für die Schulzeit und für die Ferienzeit separat einstellen.<br />
                       Als Ferien gelten nur die im gesamten Bundesland gültigen Schulferien.</p>
                {% endif %}
            </div>
        </div>

        <div class="alert alert-info" role="alert"><strong>WICHTIG:</strong> Bitte prüfen Sie nach Änderung eines Abonnements unter dem Menüpunkt <a href="{% url 'kg.views_kunden.essen' %}">"Essenbestellung"</a> Ihre Bestellungen für die nächsten Wochen.</div>


        <form action="{% with view_path="kg.views_kunden.abo_edit" %}{% url view_path child.id %}{% endwith %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="child_id" value="{{child.id}}" />

            <div class="panel panel-default">
                <div class="panel-heading">{{ child }}</div>

                <table class="table days">
                    <tr>
                        <th class="col-md-2 col-xs-3 col-lg-3"></th>
                        <th nowrap="nowrap" class="col-md-1 col-xs-1 col-lg-1 text-center">
                            <span class="big-day">Alle Tage</span>
                            <span class="small-day">*</span>
                        </th>

                        {% for weekday in weekdays %}
                            <th class="col-md-1 col-xs-1 col-lg-1 text-center">
                                <span class="big-day">{{ weekday.1 }}</span>
                                <span class="small-day">{{ weekday.1|slicestring:"0:2" }}</span>
                            </th>
                        {% endfor %}
                    </tr>

                    {% for mealtime in mealtimes %}
                        <tr>
                            <td>{{mealtime.0.mealtime_name}}</td>

                            <td class="text-center">
                                <input id="MasterCheckbox{{mealtime.0.mealtime.id}}_{{mealtime.0.kind}}" type="checkbox" />
                            </td>

                            {% for day in mealtime %}
                                <td class="text-center">
                                    <input type="checkbox" name="mealtime_{{day.mealtime.id}}_{{ mealtime.0.kind }}" class="mealtimecb{{day.mealtime.id}}_{{mealtime.0.kind}}" {% if day.selected %}checked="checked"{% endif %} value="{{day.weekday.0}}" />
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <button type="submit" class="btn btn-default" tabindex="3" name="cancel" value="Abbrechen">Abbrechen</button>
            <button type="submit" class="btn btn-primary" tabindex="4">Speichern</button>
        </form>
    {% endif %}

    <br /><br /><br /><br /><br />
{% endblock %}

{% block docreadyjs %}
  {{ block.super }}
  {% for mealtime in mealtimes %}
      $("#MasterCheckbox{{mealtime.0.mealtime.id}}_{{mealtime.0.kind}}").change(function() {
          $(".mealtimecb{{mealtime.0.mealtime.id}}_{{mealtime.0.kind}}").prop("checked", this.checked);
      });
      $(".mealtimecb{{mealtime.0.mealtime.id}}_{{mealtime.0.kind}}").change(function() {
          $("#MasterCheckbox{{mealtime.0.mealtime.id}}_{{mealtime.0.kind}}").prop("checked", $(".mealtimecb{{mealtime.0.mealtime.id}}_{{mealtime.0.kind}}:checked").length == $(".mealtimecb{{mealtime.0.mealtime.id}}_{{mealtime.0.kind}}").length);
      });
  {% endfor %}
{% endblock docreadyjs %}
