{% extends "kg/base_kunden.html" %}

{% load url from future %}

{% block title %} - Rechnungen{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Rechnungen</h1>
    </div>

    {% include "kg/partials/messages.html" %}

    {% if not is_active %}
        <h4>Sie erhalten derzeit keine Online-Rechnungen.</h4>

        <p>Sie haben die Möglichkeit, Ihre Rechnungen in Zukunft an dieser Stelle online als PDF-Dokument abzurufen.<br />
           Wenn Sie sich dafür entscheiden, bekommen Sie keine Papierrechnung mehr von uns, sondern können Ihre Rechnungen zukünftig bequem herunterladen.</p>

        <p>Wenn Sie keine Online-Rechnung wünschen, bleibt alles wie gehabt.</p>

        <h5>Online-Rechnung jetzt aktivieren:</h5>

        <form action="{% url 'kg.views_kunden.rechnungen' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input id="id_activate_online_invoice" type="checkbox" name="activate_online_invoice" value="1" />
                        </span>
                        <label for="id_activate_online_invoice" class="control-label form-control">Ja, ich möchte meine Rechnungen in Zukunft online erhalten.</label>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
            <br />
            <button type="submit" class="btn btn-primary">Aktivieren</button>
        </form>

    {% else %}

        <p>Hier finden Sie Ihre Rechnungen als PDF-Dokumente.</p>

        {% if invoices %}

                <table class="table invoices">
                    <tr>
                        <th>Rechnung</th>
                        <th>Datum</th>
                        <th>Betrag</th>
                    </tr>
                    {% for invoice in invoices %}
                        <tr>
                            {% with invoice_name=invoice.invoice_file|slice:"8:" %}
                                <td>
                                    <a href="{% url 'kg.views_kunden.rechnungen_download' invoice_name %}">{{invoice_name}}</a>
                                </td>
                            {% endwith %}
                            <td>{{invoice.invoice_date|date:"d.m.Y"}}</td>
                            <td>{{invoice.invoice_total}} EUR</td>
                        </tr>
                    {% endfor %}
                </table>

        {% else %}
            <h4>Zurzeit keine Rechnung verfügbar.</h4>
		    <p>Sobald die nächste Rechnung verfügbar ist, wird diese hier abrufbar sein.</p>
        {% endif %}

        <p>Die Rechnungen sind nur 18 Monate abrufbar. Bitte laden Sie Ihre Rechnungen herunter.</p>

        {% if module_paper_invoice %}
            <p>Falls Sie keine Online-Rechnung mehr wünschen, klicken Sie bitte hier:
                <a href="{% url 'kg.views_kunden.rechnungen_papier' %}">Auf Papier-Rechnung umstellen</a>
            </p>
        {% endif %}

        <div class="alert alert-info" role="alert">
            <strong>Hinweis:</strong> Zum Anzeigen der Rechnungen benötigen Sie den
            <a href="http://get.adobe.com/de/reader/" target="_blank">Adobe Reader</a>
            oder eine
            <a href="http://de.wikipedia.org/wiki/Liste_von_PDF-Software" target="_blank">vergleichbare Software</a>.
        </div>
    {% endif %}
{% endblock %}


