{% extends "kg/base_kunden.html" %}

{% load url from future %}

{% block title %} - Guthaben{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Guthaben</h1>
    </div>

    {% include "kg/partials/messages.html" %}

    {% if form.amount.errors %}
        <div class="alert alert-danger">
            <ul >
                {% for error in form.amount.errors %}
                    <li>{{ error|safe }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            Guthaben Minimum ändern
        </div>

        <div class="panel-body">
            <form action="{% url 'kg.views_kunden.guthaben_minimum' %}" method="post">
                {% csrf_token %}
                <div class="form-group{% if form.amount.errors %} has-error{% endif %}">
                    <label for="{{ form.amount.id_for_label }}" class="control-label">Betrag in Euro</label>
                    <input class="form-control" type="text" id="{{ form.amount.id_for_label }}" name="amount" value="{{ form.amount.value|default:'' }}" />
                </div>

                <p>Bitte geben Sie hier die Höhe des Guthabens an, ab deren Unterschreitung Sie per E-Mail informiert werden wollen.</p>

                <button type="submit" class="btn btn-default" tabindex="3" name="cancel" value="1">Abbrechen</button>
                <button type="submit" class="btn btn-primary" tabindex="4">Senden</button>

            </form>
        </div>
    </div>
    <br /><br /><br /><br /><br />
{% endblock %}


