{% extends "kg/base_kunden.html" %}

{% load fieldtags %}
{% load url from future %}

{% block title %} - Kind hinzufügen/bearbeiten{% endblock %}

{% block content %}

    <div class="page-header">
        {% if edit %}
            <h1>Kind bearbeiten</h1>
        {% else %}
            <h1>Kind hinzufügen</h1>
        {% endif %}
    </div>

    {% include "kg/partials/messages.html" %}

	{% if form.errors %}
        <div class="alert alert-danger" role="alert">Es sind Fehler aufgetreten. Bitte korrigieren Sie die markierten Felder.</div>
	{% endif %}

    <form method="post"
        {% if edit %}
            action="{% with view_path="kg.views_kunden.kinder_edit" %}{% url view_path child.id %}{% endwith %}"
        {% else %}
            action="{% url 'kg.views_kunden.kinder_add' %}"
        {% endif %} class="yform columnar">

        {% include "kg/partials/form.html" %}
    </form>
{% endblock %}

{% block docreadyjs %}

	var options=[];
	{% for fs in facility_subunits %}
 		options[{{fs.facility.id}}] += '<option value="{{fs.id}}">{{fs.name}}</option>';
 	{% endfor%}
 	
 	$("#id_facility_subunit option").remove();
 	
 	$("#id_facility_subunit").html(options[$('#id_facility :selected').val()]);
 	$("#id_facility_subunit option[value='{{selected_fs.0.id}}']").attr("selected", "selected");
 	
 	
 	$("#id_facility").change(function(){
    					$("#id_facility_subunit").html(options[$('#id_facility :selected').val()]);
					});
{% endblock docreadyjs %}
