{% extends "kg/base_kunden.html" %}

{% load url from future %}
{% load my_templatetags %}

{% block title %} - Brotzeitbestellung{% endblock %}

{% block content %}
{% with_setting MODULE_PREPAID as MODULE_PREPAID %}
{% with_setting OVERLOAD_SITE as OVERLOAD_SITE %}

{% if no_child %}

    <h1>Willkommen</h1>
    <br />


    <strong>Sie haben bisher noch keine Kinder eingetragen.</strong><br />
    <br /><br />
    <a href="{% url 'kg.views_kunden.kinder_add' %}" class="create_link">Jetzt Kind hinzufügen</a>

{% else %}

	<h1>Brotzeitbestellung</h1>

	
	<p id="anleitung" style="display:none;">Um eine Brotzeit zu bestellen, klicken Sie bitte auf den jeweiligen "bestellen"-Button. Nach erfolgreicher Bestellung wird das Feld grün und der Text "bestellt" wird angezeigt. <br />
        Um eine Brotzeit abzubestellen, klicken Sie bitte auf den "X"-Button, der hinter dem Wort "bestellt" erscheint, wenn die Brotzeit bestellt ist.<br />
        Wenn Sie den Mauszeiger für eine Weile in den Bereich des "bestellen"-Buttons halten, werden Ihnen die Bestell- und Abbestellfristen der jeweiligen Brotzeit angezeigt.
        {% if MODULE_PREPAID %}
            <br />Sie können nur Essen bestellen, wenn Sie über genügend Guthaben verfügen.
        {% endif %}
    </p>

    {% if OVERLOAD_SITE == 'somic'  %}
        <p><strong>Die Bestellung für den nächsten Tag ist bis 24 Uhr des aktuellen Tages möglich!</strong></p>
    {% endif %}

    <br /><br />

	<div class="tabnav tabnav-menu-form">
		<ul>
		{% for week in weeks %}
			<li {% if week.week == selected %}class="selectedtab"{% endif %}>
				<a href="{% url 'kg.views_kunden.brotzeit' week.year week.week %}" class="tabnav-menu-tab{{ forloop.counter }}">
					{{ week.days.0|date:"d.m." }} bis {{ week.days.4|date:"d.m.Y" }}
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	<div class="tabnav_under w90 no_top_border"></div>
	
    {% if not menus %}

        <br /><br />
        Für den angegebenen Zeitraum liegt noch kein Speiseplan vor.<br />
        <br />

    {% else %}
	
        {% for menu in menus %}

            <a name="{{menu.child.id}}"></a>
            <br /><br />

            <div class="menu_header"><span class="childname">{{menu.child}}</span>&nbsp;&nbsp;({{ menu.child.facility.name }}, {{ menu.child.facility_subunit.name }})</div>

            {{menu.menu_html|safe}}

        {% endfor %}

    {% endif %}
	
	<br /><br /><br />
	
{% endif %}


{% endblock %}


{% block docreadyjs %}


    $('#anleitung').show();

    $('.menu_additives_toggle_link').show();
    $('.menu_additives_toggle_link_text1').show();
    $('.menu_additives_div').hide();
    $('.menu_additives_toggle_link').click(function(event) {
        event.preventDefault();
        outer_div = $( event.target ).closest("div");
        outer_div.find(".menu_additives_toggle_link_text1").toggle();
        outer_div.find(".menu_additives_toggle_link_text2").toggle();
        outer_div.next(".menu_additives_div").toggle();
    });


 $('input:submit').click(function(event) {

        event.preventDefault();

        var form = $(this).parent('form');

        var order_status = Number(form.data('order-status'));
        var order_possible = Number(form.data('order-possible'));


        if ( order_status == 1 &&
             order_possible == 0 &&
             !confirm('Möchten Sie das Essen wirklich abbestellen? Da die Bestellfrist für dieses Essen abgelaufen ist, können Sie kein Alternativessen bestellen.')) {
            return;
        }

        var order_id = $(this).attr('data-id');
        var action = $(this).attr('data-action');
        var quantity = parseInt($('#inp-' + order_id).val());
        if ( action == 'down' ) {
            quantity = quantity - 1;
        }
        if ( action == 'up' ) {
            quantity = quantity + 1;
        }
        if ( quantity < 0 ) {
            quantity = 0;
        }

        $.ajax({
                type: "GET",
                dataType:  'json',
                cache: false,
                data: { 'order' : order_id + '-' + quantity },
                success: function(data) {
                        if ( data['error'] == false ) {
                            $( '#inp-' +  data['id'] ).val(data['quantity']);

                            if ( data['quantity'] > 0 ) {
                                $( '#mo-' +  data['id'] ).addClass("menu-order-active");
                            } else {
                                $( '#mo-' +  data['id'] ).removeClass("menu-order-active");
                            }

                            if (data['account_balance'] != '-1') {
                                $('#header_account_balance_value').text(data['account_balance']);
                            }

                        }
                        else {
                            alert(data['message']);
                        }
                    },
                error: function() {
                            alert('Es ist ein Fehler aufgetreten!');
                        }
        });
    });


{% endblock %}
