{% extends "kg/base_kunden.html" %}

{% load url from future %}

{% block title %} - Bitte Kinder eintragen{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Willkommen</h1>
    </div>

    <div class="alert alert-info" role="alert">Sie haben bisher noch keine Kinder eingetragen.</div>
    <a href="{% url 'kg.views_kunden.kinder_add' %}" class="btn btn-primary" class="create_link">Jetzt Kind hinzufügen</a>
    <br /><br /><br /><br /><br />
{% endblock %}


