{% extends "kg/base.html" %}

{% load url from future %}

{% block title %} - Passwort vergessen{% endblock %}


{% block content %}

    <div class="page-header">
        <h1>Passwort vergessen</h1>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            Bitte geben Sie Ihre E-Mail-Adresse ein. Sie bekommen ein neues Passwort per E-Mail zugeschickt.
        </div>
    </div>

    {% if form.errors %}
		<div class="alert alert-danger">
            Es sind Fehler aufgetreten. Bitte korrigieren Sie die markierten Felder.
            <ul>
                {% for error in form.email.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
	{% endif %}

    <form method="post" action="{% url 'kg.views_registrierung.password_lost' %}">
        {% csrf_token %}
        {% include "kg/partials/form.html" with only_form='yes' %}
        <a href="/" class="btn btn-default">Abbrechen</a>
        <button type="submit" class="btn btn-primary">Speichern</button>
    </form>

    <br /><br /><br /><br /><br />

{% endblock %}
