{% extends "kg/base.html" %}

{% block title %} - Passwort vergessen{% endblock %}

{% block content %}

{% if status == "success" %}
<h1>Neues Passwort verschickt</h1>
<br />
<p>Ein neues Passwort wurde Ihnen per E-Mail zugesendet.</p>
<p>Um das neue Passwort zu aktivieren, folgen Sie bitte dem Aktivierungslink in der E-Mail. Die E-Mail enthält alle hierfür nötigen Informationen.</p>
<br /><br /><br />
<p><a href="/">zur Startseite</a></p>
{% endif %}

{% if status == "error" %}
<h1>Fehler</h1>
<br />
<p>Leider ist ein Fehler aufgetreten.</p>
<p>Bitte versuchen Sie es zu einem späteren Zeitpunkt erneut.</p>
<br /><br /><br />
<p><a href="/">zur Startseite</a></p>
{% endif %}

{% if status == "changed" %}
<h1>Neues Passwort aktiviert</h1>
<br />
<p>Ihr neues Passwort wurde aktiviert.</p>
<p>Sie können sich ab sofort mit Ihrem neuen Passwort einloggen.</p>
<br /><br /><br />
<p><a href="/">zur Startseite</a></p>
{% endif %}

<br /><br /><br /><br /><br />
{% endblock %}