{% extends "kg/base.html" %}

{% load fieldtags %}

{% block title %} - Anmeldung für Neukunden{% endblock %}

{% block content %}

{% if status == "success" %}
<h1>Neuanmeldung</h1>
<br />
<h3>Vielen Dank!</h3>
<br />
<p>Wir freuen uns, Sie als neuen Kunden begrüßen zu dürfen.</p>

<p>Eine E-Mail mit Ihrem Passwort wurde bereits an Sie gesendet.</p>
{% endif %}


{% if status == "error" %}
<h1>Neuanmeldung</h1>
<br />
<h3>Fehler!</h3>
<br />
<p>Leider ist bei Ihrer Anmeldung ein Fehler aufgetreten.<br />
Wir bitten um Ihr Verständnis.</p>
<br />
<p>Bitte kontaktieren Sie uns telefonisch oder per E-Mail.<br />
Unsere Telefonnummer und E-Mailadresse finden Sie weiter unten auf dieser Seite.</p>
{% endif %}

<br /><br />
<a href="/">zurück zur Startseite</a>

<br /><br /><br /><br /><br /><br />
{% endblock %}