{% load fieldtags %}
{% load admin_extras %}


{% if noitems %}
    Für den angegebenen Zeitraum liegt noch keine Speiseplan vor.
{% else %}
    <table class="table food-order">
        <thead>
            <tr>
                <th class="col-xs-2 col-md-2 col-lg-2 menu-meal">&nbsp;</th>
                {% for day in days %}
                    <th class="col-xs-2 col-md-2 col-lg-2">{{day|date:"l"}}, {{day|date:"d.m."}}</th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
          {% for menu_dict in menu_list %}
          <tr>
            {% with menu_dict.mealtime.allergy_meal as allergy_meal %}
            <td rowspan="4" class="menu-meal{{ allergy_meal|yesno:" allergy-meal,"}}">{{ menu_dict.mealtime.name }}
              {% if allergy_meal %}<span class="pull-right">&nbsp;* für Allergiker</span> {% endif %}
            </td>
            {% endwith %}
              {% for day_menus in menu_dict.day_list %}
                {% check_meal_available menu_dict.mealtime child.facility_subunit.mealplan day_menus.menu.date as meal_available %}
                <td class="menu-cell">
                  {% if meal_available and day_menus.menu.id %}
                      {{day_menus.menu.description|safe|linebreaksbr}}
                  {% endif %}
                </td>
              {% endfor %}
          </tr>
          <tr>
              {% for day_menus in menu_dict.day_list %}
                {% check_meal_available menu_dict.mealtime child.facility_subunit.mealplan day_menus.menu.date as meal_available %}
                <td class="menu-allergens">
                  {% if meal_available and day_menus.allergens != '' %}
                      {{ day_menus.allergens }}
                  {% endif %}
                </td>
              {% endfor %}
          </tr>
          <tr>
              {% for day_menus in menu_dict.day_list %}
                {% check_meal_available menu_dict.mealtime child.facility_subunit.mealplan day_menus.menu.date as meal_available %}
                <td class="menu-price text-center">
                  {% if meal_available %}
                    {% if day_menus.price > 0 %}
                        {{ day_menus.price|floatformat:2 }} &euro;
                    {% endif %}
                    {% if day_menus.price_reduced != None %}
                        (erm. {{ day_menus.price_reduced|floatformat:2 }} &euro;)
                    {% endif %}
                  {% endif %}
                </td>
              {% endfor %}
          </tr>
          <tr>
            {% for day_menus in menu_dict.day_list %}{% with menu=day_menus.menu params=day_menus.params %}
            <td class="order-button-cell{% if params.checked %} menu-ordered{% endif %}"
                id="mo-{{ child.id }}-{{ menu.id }}" {% if menu.required_menu %}data-dependent-menu="1" data-required-menu="mo-{{ child.id }}-{{ menu.required_menu.pk }}"{% endif %}>
                {% if menu.id and params.can_be_ordered %}
                    {% if not params.disabled %}
                    <form action="{{ action }}" method="post" id="mof-{{ child.id }}-{{ menu.id }}"
                          data-order-status="{{ day_menus.params.checked|yesno:"1,0" }}"
                          data-order-possible="{{ day_menus.params.order_possible|yesno:"1,0" }}">
                        <input type="hidden" name="order" id="moi-{{ child.id }}-{{ menu.id }}" value="{{ child.id }}-{{ menu.id }}-{{ params.checked|yesno:"0,1" }}" />
                    {% endif %}
                        <p></p>
                        <div class="input-group menu-actions text-center">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number quantity-step{% if params.cancelable and params.quantity %}{% else %} disabled{% endif %}"
                                        data-method="minus" title="Abbestellbar bis: {{ params.cancel_limit }}">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>
                            <input type="hidden" value="{{ params.quantity }}" name="current-quantity" />
                            <input type="text" class="form-control input-number text-center" value="{{ params.quantity }}" name="quantity" min="0" max="{{ max_order_quantity }}" readonly="1" data-max="{{ max_order_quantity }}"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number quantity-step{% if params.order_possible and params.quantity < max_order_quantity %}{% else %} disabled{% endif %}"
                                        data-method="plus" title="Bestellbar bis: {{ params.order_limit }}">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                    {% if not params.disabled %}
                    </form>
                    {% endif %}
                    {% if menu.required_menu %}
                    <div class="dependent-msg" title="Dies erfordert Menü: {{ menu.required_menu.description }}">
                        Nicht verfügbar <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    </div>
                    {% endif %}
                {% endif %}
            </td>
            {% endwith %}{% endfor %}
          </tr>
          {% endfor %}
          <tr class="last-row"><td colspan="{{days|length|add:'1'}}"></td></tr>
        </tbody>
    </table>
    <div class="mealplan-bottom">
        {% include "kg/partials/menu_allergens_panel.html" %}
    </div>

{% endif %}
