{% load fieldtags %}
{% load simpletags %}

{% if noitems %}
    Für den angegebenen Zeitraum liegt noch keine Speiseplan vor.
{% else %}
    {% for day in days %}
        <a id="collapse{{day|date:"l"|slicestring:"0:2"}}{{ child.id }}-trigger"
           data-toggle="collapse" data-parent="#accordion"
           href="#collapse{{day|date:"l"|slicestring:"0:2"}}{{ child.id }}"
           class="day-meal collapsed">
            <div class="day-wrapper">
                <div class="day">{{day|date:"l"|slicestring:"0:2"}}.</div>
                <div class="short-date">{{ day|date:"d.m." }}</div>
            </div>
            <div class="menu-expand">
                <span class="glyphicon glyphicon-chevron-down"></span>
                <span class="glyphicon glyphicon-chevron-up"></span>
            </div>
            {% with week_orders|index:forloop.counter0 as day_orders %}
            {% include 'kg/partials/small_view_order_brief.html' with mealtimes=day_orders.mealtimes lunches=day_orders.lunches %}
            {% endwith %}
        </a>
        <div id="collapse{{day|date:"l"|slicestring:"0:2"}}{{ child.id }}" class="panel-collapse collapse text-center">
            <table class="table small-menu">
                {% for menu_dict in menu_list %}{% with mealtime=menu_dict.day_list|get_day_mealtime:day %}
                <tr id="smo-{{ child.id }}-{{ mealtime.menu.id }}" class="{% if mealtime.params.checked %}menu-ordered{% endif %}">
                  <td class="vert-align">{{ menu_dict.mealtime.name }}</td>
                  <td>
                  <td class="text-left">
                    {% if mealtime.menu.id %}
                      <span id="child-meal-{{ child.id }}-{{ mealtime.menu.id }}">{{mealtime.menu.description|safe|linebreaksbr}}</span>
                      <br/>
                      {% if mealtime.allergens != '' %}
                          <small>{{ mealtime.allergens }}</small> <br>
                      {% endif %}
                      {% if mealtime.price > 0 %}
                          <span class="text-left">{{ mealtime.price }} &euro;</span>
                      {% endif %}
                    {% endif %}
                  </td>
                  {% with menu=mealtime.menu params=mealtime.params %}
                  <td class="vert-align" {% if menu.required_menu %}data-dependent-menu="1" data-required-menu="smo-{{ child.id }}-{{ menu.required_menu.pk }}"{% endif %}>
                    {% if menu.id and params.can_be_ordered %}
                        {% if not params.disabled %}
                        <form action="{{ action }}" method="post" id="sv-mof-{{ child.id }}-{{ menu.id }}"
                              data-order-status="{{ params.checked|yesno:"1,0" }}"
                              data-order-possible="{{ params.order_possible|yesno:"1,0" }}">
                            <input type="hidden" name="order" id="sv-moi-{{ child.id }}-{{ menu.id }}" value="{{ child.id }}-{{ menu.id }}-{{ params.checked|yesno:"0,1" }}" />
                        {% endif %}
                            <div class="text-center menu-actions">
                                <button type="button" class="btn btn-default quantity-step{% if params.order_possible and params.quantity < max_order_quantity %}{% else %} disabled{% endif %}" data-method="plus">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                                <input type="hidden" value="{{ params.quantity }}" name="current-quantity" />
                                <input type="text" class="input-number text-center" value="{{ params.quantity }}" name="quantity" readonly="1" data-max="{{ max_order_quantity }}"/>
                                <button type="button" class="btn btn-default quantity-step{% if params.cancelable and params.quantity %}{% else %} disabled{% endif %}" data-method="minus">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </div>
                        {% if not params.disabled %}
                        </form>
                        {% endif %}
                        {% if menu.required_menu %}
                            <div class="dependent-msg"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                            </div>
                        {% endif %}
                    {% endif %}
                  </td><!-- td.vert-align -->
                  {% endwith %}
                </tr>
                {% endwith %}{% endfor %}
            </table>
        </div>
    {% endfor %}

    {% include "kg/partials/menu_allergens_panel.html" %}

{% endif %}
