{% load kg_context_tags %}
{% get_site_context as site %}
{% get_site_overload_content_dir as site_overload_content_dir %}

<!DOCTYPE html>
<html>
<head>
    <title>{%block title%}{%endblock%}</title>
    <style type="text/css">
    {% block style %}
        @page {
            size: A4;
            margin: 20mm 20mm 40mm 25mm;
            padding: 0;

            @bottom-right-corner {
                content: "Seite " counter(page) " von " counter(pages);
                font-size: 7pt;
                padding: 1em;
                text-align: right;
                vertical-align: bottom;
            }

        }

        @page :first {
            margin-top: 100mm;
        }

        .header-top {
            position: absolute;
            top: -90mm;
        }

        .header-right {
            position: absolute;
            top: -90mm;
            left: 110mm;
        }

        .return-address {
            position: absolute;
            top: -55mm;
            left: 0;
            font-size: 6pt;
        }

        .address {
            position: absolute;
            top: -45mm;
            left: 0;
            font-size: 10pt;
            line-height: 1.3em;
        }

        body { font-family: Arial, Verdana, Helvetica, sans-serif;
               font-size: 9pt;
               line-height: 1.3em;
               padding: 0;
               margin: 0;
        }

        .footer {
            position: fixed;
            margin-bottom: -35mm;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 0;
            font-size: 7pt;
            line-height: 1.2em;
        }

        table { border-collapse: collapse; }
        td { padding: 0; margin: 0; }

        .font-sm { font-size: 8pt; }
        .font-xs { font-size: 7pt; }
        .line-height-xs { line-height: 1.3em; }

        .strong {font-weight:bold;}
        .center {text-align: center;}
        .right {text-align: right;}
        .top {vertical-align: top;}

        .bt1 {border-color: #000; border-top-width: 1px; border-top-style: solid;}
        .bb1 {border-color: #000; border-bottom-width: 1px; border-bottom-style: solid;}
        .bb2 {border-color: #000; border-bottom-width: 2px; border-bottom-style: solid;}
        .pt1 {padding-top:1mm}
        .pr1 {padding-right:1mm}

        .w1 {width:1mm;}
        .w5 {width:5mm;}
        .w10 {width:10mm;}
        .w15 {width:15mm;}
        .w20 {width:20mm;}
        .w25 {width:25mm;}
        .w30 {width:30mm;}
        .w35 {width:35mm;}
        .w40 {width:40mm;}
        .w50 {width:50mm;}
        .w60 {width:60mm;}
        .w80 {width:80mm;}
        .w100 {width:100mm;}

    {% endblock %}
  </style>
</head>
<body>


  <div class="header-top">
    {% block header-top %}{% endblock header-top %}
  </div>

  <div class="header-right">
    {% block header-right-top %}
        <img src="file://{{ site_overload_content_dir }}/logo_pdf.png" />
        <br />
        <div class="font-xs line-height-xs">
			<br />
            <strong>Leib & Seele Dienst am Gast GmbH</strong><br />
            <br />
			Marktplatz 3<br />
            06184 Kabelsketal<br />
            <br />
			Telefon: +49 34605 149999<br />
			E-Mail: info@speisenbildung-leib-und-seele.de<br />
            <br />
			www.speisenbildung-leib-und-seele.de<br />
			<br />
            {% if invoice.child.facility_id == 1 %}DE-ÖKO-021{% else %}<br />{% endif %}
		</div>
    {% endblock header-right-top %}
    {% block header-right-bottom %}{% endblock header-right-bottom %}
  </div>

  <div class="return-address">
      {% block return-address %}Leib & Seele Dienst am Gast GmbH, Marktplatz 3, 06184 Kabelsketal{% endblock return-address %}
  </div>

  <div class="address">
      {% block address %}
          Anschrift
      {% endblock address %}
  </div>

  <div class="content">
    {% block content %}{% endblock content %}
  </div>
   	
	<div class="footer">
        {% block footer %}
            <hr style="width: 100%; border: 0; height: 1px; background: #000000;"/>
            <table style="width: 100%">
              <tbody>
                <tr>
                  <td class="top" style="width:40%;">
                      &nbsp;Leib & Seele Dienst am Gast GmbH<br />
                      &nbsp;Merseburger Str. 165, 06112 Halle/Saale<br />
                      &nbsp;Geschäftsführer: Norbert Brandt<br />
                      <br />
                      &nbsp;HRB 214097 Amtsgericht Stendal<br />
                      &nbsp;Steuernummer: {{ INVOICE_COMPANY_TAXID }}
                  </td>
                  <td class="top" style="width:40%;">
                    Bankverbindung:<br />
                    {% if invoice %}
                        {% if invoice.child.facility_id != 3 and invoice.child.facility_id != 5 %}
                            {{INVOICE_COMPANY_ACCOUNT_BANKNAME}}<br />
                            IBAN: {{ INVOICE_COMPANY_ACCOUNT_IBAN }}<br />
                            BIC: {{ INVOICE_COMPANY_ACCOUNT_BIC }}
                        {% else %}
                            Harzsparkasse<br />
                            IBAN: DE32 8105 2000 0901 0273 67<br />
                            BIC: NOLADE21HRZ<br />
                        {% endif %}
                    {% elif reminder %}
                        {% if customer.child_set.all.0.facility_id != 3 and customer.child_set.all.0.facility_id != 5 %}
                            {{INVOICE_COMPANY_ACCOUNT_BANKNAME}}<br />
                            IBAN: {{ INVOICE_COMPANY_ACCOUNT_IBAN }}<br />
                            BIC: {{ INVOICE_COMPANY_ACCOUNT_BIC }}
                        {% else %}
                            Harzsparkasse<br />
                            IBAN: DE32 8105 2000 0901 0273 67<br />
                            BIC: NOLADE21HRZ<br />
                        {% endif %}
                    {% else %}
                        {{INVOICE_COMPANY_ACCOUNT_BANKNAME}}<br />
                        IBAN: {{ INVOICE_COMPANY_ACCOUNT_IBAN }}<br />
                        BIC: {{ INVOICE_COMPANY_ACCOUNT_BIC }}
                    {% endif %}
                  </td>
                <td class="top" style="width:20%;">
                    {% if reminder %}
                        <img src="file://{{ site_overload_content_dir }}/CR-Mitgliederlogo-Black-100px.png" style="width: 1.6cm;"/>
                    {% endif %}
                </td>
              </tbody>
            </table>
        {% endblock footer %}
	</div>

</body>
</html>
