{% load report_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<title>Speiseplan</title>
<!-- add your meta tags here -->


<style type="text/css">

@media all
{

  @page {size: A4 landscape; margin: 1cm 1cm 0.5cm 1cm;}

  html * { font-size:9pt; }

  body {
    font-family:Arial, Helvetica, sans-serif;
    color:#222;
  }

  p { line-height:1.5em;}

  sub, sup { font-size:9pt; line-height:0; }

  table { width:auto; margin-bottom:10pt; border: 0; }
  table.full { width:100%; }

  th,td { padding: 4pt 3pt 0 3pt; }
  
  table.menu {border: 0; border-bottom: 1pt solid #{{PRINTMENUE_COLORSTRONG}}}
  table.menu thead th {
      text-align: left;
      font-size: 10pt;
      font-weight:600;
      color: #FFF;
      background: #{{PRINTMENUE_COLORSTRONG}};
      border: 1pt solid #{{PRINTMENUE_COLORSTRONG}};
  }
  table.menu tbody th {
      text-align:left;
      color: #333;
      background: #{{PRINTMENUE_COLORLIGHT}};
      border-top: 1pt solid #{{PRINTMENUE_COLORSTRONG}};
      border-bottom: 1pt solid #{{PRINTMENUE_COLORSTRONG}};
  }
  table.menu tbody td { vertical-align: top; }
  table.menu tbody th, table.menu tbody td  {width:20%;}

  .menu_subtext {font-size:7pt; line-height: 1.5em;}
  .menu_additives {font-size:7pt; line-height: 1.3em;}
  .menu_footer {font-size:7pt; line-height: 1.3em;}
  
}

</style>

</head>

<body>

{% for menu in menus %}


        <table>
          <tr>
              <td style="text-align: left; vertical-align: top; padding-top:0;">
                <p style="color:#{{PRINTMENUE_COLORSTRONG}}; font-size:34pt;">SPEISEPLAN</p>
                <p style="color:#{{PRINTMENUE_COLORSTRONG}}; font-size:16pt;">F&Uuml;R DIE WOCHE VOM <span style="font-size: 16pt; font-weight: 600;">{{menu.week.days.0|date:"d.m.Y"}}</span>  BIS <span style="font-size: 16pt; font-weight: 600;">{{menu.week.days.4|date:"d.m.Y"}}</span></p>
              </td>
              <td style="text-align: right; vertical-align: top; padding-top:0;">
                <img src="{{ STATICFILES_DIR }}/img/layout/header_menue_pdf.png" height="5cm" border="0" />
              </td>
          </tr>
        </table>

	   {{menu.menu_html}}

        <!-- begin: #footer -->
        <div>
        	<img src="{{ STATICFILES_DIR }}/img/layout/footer_menue_pdf.png" style="width: 277mm; border:0;" />
            <span style="color:#{{PRINTMENUE_COLORSTRONG}}; font-size:10pt; display: block; margin-top: 5pt;">Telefon: {{INVOICE_COMPANY_TELEFONE}}</span>
        </div>

  {% insert_page_break %}

{% endfor %}



</body>
</html>
