{% extends "kg/pdf/base.html" %}

{% block address %}
  {{customer.title}}<br />
  {% if customer.surname %}{{customer.surname}} {% endif %}{{customer.name}}<br />
  {{customer.street}}<br />
  {{customer.zip_code}} {{customer.city}}<br />
{% endblock %}

{% block header-right-bottom %}
    <br /><br />
    {{ reminder.create_date|date:"d.m.Y" }}
{% endblock header-right-bottom %}

{% block content %}
  {% autoescape off %}{{ reminder.content }}{% endautoescape %}
{% endblock %}